@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>转移属性编辑</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">转移属性编辑</h3>
        </div>
        <div class="modal-body">
            <div id="transition-property-controller">
                <p>
                    <span class="a_tit">描述:</span>
                    <span><input type="text" id="txtDescription" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit">条件表达式:</span>
                    <span><textarea id="txtCondition" class="bcxj" style="height:100px;"></textarea></span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="transitionproperty.save();">确定</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            transitionproperty.load();
        });
    </script>

</body>
</html>