@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gateway节点编辑</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div>
            <p>
                <span class="a_tit">类型:</span>
                <select id="ddlGatewayType" class="form-control" style="width:340px;" >
                    <option value="default">--请选择--</option>
                    <option value="Split">分支</option>
                    <option value="Join">合并</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <span class="a_tit">子类型:</span>
                <select id="ddlDirectionType" class="form-control" style="width:340px;" >
                    <option value="default">--请选择--</option>
                </select>
            </p>
        </div>
        <div>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="gatewayproperty.saveGatewayInformation();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>

    <script type="text/javascript">
        $(function () {
            gatewayproperty.loadGatewayInformation();
        });
    </script>
</body>
</html>