<style>
    .select-address {
        overflow: hidden;
        position: fixed;
        left: 50%;
        z-index: 19911125;
        transition: 0.3s;
        box-shadow: 0 3px 12px rgba(0,0,0,.175);
        background: #fff;
        display: none;
    }

        .select-address.active {
            top: 0 !important;
        }

    .select-address-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .select-address-container ul li {
            width: 240px;
            padding: 10px;
            display: table-cell;
            vertical-align: middle;
        }

            .select-address-container ul li:nth-child(even) {
                background: #eee;
            }

            .select-address-container ul li span {
                font-size: 13px;
                list-style: none;
                display: inline-block;
                margin: 5px 7px;
                cursor: pointer;
            }

    .select-address-footer {
        border-top: 1px solid #eee;
        padding: 10px 15px;
        overflow: hidden;
    }

        .select-address-footer input {
            min-width: 50%;
        }
</style>
<div class="select-address form-inline">
    <div class="select-address-container">
        <ul>
            <li>
                <!-- 省份 -->
                <span ng-repeat="item in provinces"
                      ng-click="aSet.p(item.p)"
                      ng-class="{'label label-success': p === item.p}">
                    {{item.p}} {{x}}
                </span>
            </li>
            <li ng-if="cities">
                <!-- 城市 -->
                <span ng-repeat="item in cities"
                      ng-click="aSet.c(item.n)"
                      ng-class="{'label label-success': c === item.n}">
                    {{item.n}}
                </span>
            </li>
            <li ng-if="c">
                <!-- 县级 -->
                <span ng-repeat="item in dists"
                      ng-click="aSet.a(item.s)"
                      ng-class="{'label label-success': a === item.s}">
                    {{item.s}}
                </span>
                <h5 ng-if="!dists" class="text-muted text-center">没有县级资料</h5>
            </li>
        </ul>
    </div>
    <div class="select-address-footer">
        <span class="pull-right">
            <button ng-click="clear()" class="btn btn-sm btn-link">清空</button>
            <button ng-click="submit()" class="btn btn-sm btn-success" type="submit">确定</button>
        </span>
        <strong class="text-danger">{{ p }} {{ c }} {{ a }}　</strong>
        <input ng-show="p" ng-model="d" class="form-control input-sm" type="text" placeholder="具体街道" />
    </div>
</div>
