@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>流程数据</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <b class="icoBtn btnNew" onclick="processlist.createProcess();"></b>
            <b class="icoBtn btnEdit" onclick="processlist.editProcess();"></b>
            <div id="myProcessGrid" class="ag-bootstrap" style="width:100%;height:300px;float:left;"></div>
            <img src="~/Content/images/ajax-loader.gif" id="loading-indicator" style="position: fixed; left: 40%; top: 40%; display: none;" />
        </div> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="processlist.sure();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" onclick="processlist.deleteProcess();">删除</button>
    </div>

    <script type="text/javascript">
        $(function () {
            processlist.getProcessList();
        });
    </script>
</body>
</html>