@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div id="myRoleGrid" class="ag-bootstrap" style="width:100%;height:260px;"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary lang" as="sure" data-dismiss="modal" onclick="rolelist.sure();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
    </div>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            rolelist.getRoleList();
        })
    </script>
</body>
</html>