
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Slickflow Modeling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Content/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-theme-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-progressbar-3.3.4.min.css" />

    <link rel="stylesheet" href="~/Content/ag-grid/ag-grid.css" />
    <link rel="stylesheet" href="~/Content/ag-grid/theme-bootstrap.css" />

    <link rel="stylesheet" href="~/Content/graphCanvas.css" />
    <link rel="stylesheet" href="~/Content/msgBoxLight.css" />

    <style type="text/css" media="screen">
        div.base {
            position: absolute;
            overflow: hidden;
            font-family: Arial;
            font-size: 8pt;
        }

            div.base#kgraphContainer {
                border-style: solid;
                border-color: #F2F2F2;
                border-width: 1px;
                background: url('Scripts/mxGraph/src/editor/images/grid.gif');
            }

        hr {
            border-top: 1px solid #000000 !important;
            margin-bottom: 5px !important;
            margin-top: 5px !important;
        }
    </style>

    <script type="text/javascript">
        mxBasePath = "Scripts/mxGraph/src";
    </script>


</head>
<body style="padding: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="row" style="margin-right:10px;float:right;">
                <span class="a_tit lang" as="templatetype"></span>
                <select id="ddlTemplateType" class="form-control" style="width:180px;">
                    <option value="default" class="lang" as="optiondefault"></option>
                    <option value="Sequence" class="lang" as="templatesequence"></option>
                    <option value="Parallel" class="lang" as="templateparallel"></option>
                    <option value="BatchUpdate" class="lang" as="templatebatchupdate"></option>
                    <option value="RunProcess" class="lang" as="templaterunprocess"></option>
                </select>
            </div>
            <div class="row" style="margin-right:10px;float:right;border: 1px solid gray;">
                <textarea id="txtCode" style="width:500px;">
                </textarea>
            </div>
            <div class="row">
                <div class="col-md-4" style="margin-left:6px;">
                    <a href="" onclick="processmodel.gotoTutorial();" class="lang" as="slickflowgraphtutorial"></a>
                </div>
                <div class="col-md-6" style="float:right;">
                    <button class="btn btn-primary lang" as="run" onclick="processmodel.executeGraph();"></button>
                    <button class="btn btn-primary lang" as="close" onclick="window.close();"></button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div id="kgraphContainer" style="overflow:scroll;height:500px;" class="base">
                    <!-- Graph Here -->
                </div>
            </div>
            <div class="row" style="margin-left:90px;margin-top:550px;display:none;" id="divTaskList">
                <div class="row">
                    <button class="btn btn-primary lang" as="refresh" onclick="processmodel.refreshTask();"></button>
                </div>
                <div class="row">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#todolist" role="tab" data-toggle="tab" id="tabToDo" class="lang" as="tasktodolist"></a></li>
                        <li><a href="#donelist" role="tab" data-toggle="tab" id="tabDone" class="lang" as="taskdonelist"></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="todolist">
                            <div class="row">
                                <div id="myToDoTaskGrid" class="ag-bootstrap" style="width:100%;height:160px;float:left;"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="donelist">
                            <div class="row">
                                <div id="myDoneTaskGrid" class="ag-bootstrap" style="width:100%;height:160px;float:left;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/later.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-progressbar.min.js"></script>

    <!--helper-->
    <script type="text/javascript" src="~/Scripts/slick.event.js"></script>
    <script type="text/javascript" src="~/Scripts/jshelper.js"></script>
    <script type="text/javascript" src="~/Scripts/xmlhelper.js"></script>
    <script type="text/javascript" src="~/Scripts/vkbeautify.js"></script>
    <script type="text/javascript" src="~/Scripts/XMLWriter-1.0.0-min.js"></script>

    <!-- ag-grid-->
    <script type="text/javascript" src="~/Scripts/ag-grid/ag-grid.min.js"></script>

    <script type="text/javascript" src="~/Scripts/mxGraph/src/mxClient.js"></script>

    <!-- code mirror-->
    <script type="text/javascript" src="~/Scripts/codemirror/lib/codemirror-csharp.js"></script>

    <!-- Slickflow kgraph main files -->
    <script type="text/javascript" src="~/ViewJS/kmsgbox.js"></script>
    <script type="text/javascript" src="~/ViewJS/kresource.js"></script>
    <script type="text/javascript" src="~/ViewJS/mxfile.js"></script>
    <script type="text/javascript" src="~/ViewJS/kloader.js"></script>
    <script type="text/javascript" src="~/ViewJS/kmain.js"></script>
    <script type="text/javascript" src="~/ViewJS/kmodel.js"></script>
    <script type="text/javascript" src="~/ViewJS/mxtoolkit.js"></script>
    <script type="text/javascript" src="~/ViewJS/mxconfig.js"></script>
    <script type="text/javascript" src="~/ViewJS/processlist.js"></script>
    <script type="text/javascript" src="~/ViewJS/processmodel.js"></script>
    <script type="text/javascript" src="~/ViewJS/activityproperty.js"></script>

    <script type="text/javascript">
        mxGraph.prototype.htmlLabels = true;
        mxGraph.prototype.allowLoops = true;

        mxGraph.prototype.isWrapping = function (cell) {
            return true;
        };

        mxConstants.DEFAULT_HOTSPOT = 1;

        // Enables guides
        mxGraphHandler.prototype.guidesEnabled = true;

        // Alt disables guides
        mxGuide.prototype.isEnabledForEvent = function (evt) {
            return !mxEvent.isAltDown(evt);
        };

        // Enables snapping waypoints to terminals
        mxEdgeHandler.prototype.snapToTerminals = true;

        window.onbeforeunload = function () { return mxResources.get('changesLost'); };
    </script>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            processmodel.initLang();

            kmain.init();
            kmain.showDiagramModeling();    //kgraph readonly

            initCodeMirrorTextArea();
        });

        function initCodeMirrorTextArea() {
            var editor = CodeMirror.fromTextArea(document.getElementById("txtCode"), {
                parserfile: ["../mode/csharp/js/tokenizecsharp.js", "../mode/csharp/js/parsecsharp.js"],
                stylesheet: "Scripts/codemirror/mode/csharp/css/csharpcolors.css",
                path: "Scripts/codemirror/lib/",
                height: "500px",
                indentUnit: 4
            });
            processmodel.mcodemirrorEditor = editor;
        }
    </script>
</body>
</html>
