@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>活动属性编辑</title>
    <style type="text/css">
        .parentRow {
            width: 500px;
            height: 16px;
            margin-right: 10px;
            margin-bottom: 25px;
        }

        .childColumn {
            float: left;
            margin-right: 5px;
        }
    </style>

</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <p>
                <span class="a_tit">名称:</span>
                <span><input type="text" id="txtActivityName" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">代码:</span>
                <span><input type="text" id="txtActivityCode" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
        </div>
        <div class="row">
            <b class="icoBtn btnNew" onclick="activityproperty.addPerformer();"></b>
            <b class="icoBtn btnDel" onclick="activityproperty.delPerformer();"></b>
            <div id="myPerformerGrid" class="ag-bootstrap" style="width:100%;height:160px;float:left;"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="activityproperty.saveActivity();">确定</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>

    <script type="text/javascript">
        $(function () {
            activityproperty.loadActivity();
        });
    </script>
</body>
</html>