* {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.choise {
    position: relative;
    margin-left: 20px;
}

.address {
    display: inline-block;
    padding: 0px 30px 0px 10px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #f0f0f0;
    position: relative;
}

    .address:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-width: 6px;
        border-style: solid;
        border-color: #ccc transparent transparent transparent;
        right: 11px;
        top: 9px;
    }

    .address a {
        color: #313131;
        font-size: 12px;
    }

.addxq {
    position: absolute;
    width: 520px;
    /**/
    border: 1px solid #f0f0f0;
    padding: 10px;
    left: 0px;
    top: 27px;
    display: none;
    z-index: 2;
    background: #fff;
}

.city-tit {
    border-bottom: 1px solid #e6e6e6;
}

    .city-tit a.cur {
        border: 1px solid #e6e6e6;
        border-bottom: #fff;
    }

        .city-tit a.cur b {
            color: red;
        }

        .city-tit a.cur i {
            background: url(images/ui.gif) -462px -40px no-repeat;
        }

    .city-tit a {
        float: left;
        border: 1px solid #fff;
        border-bottom: 1px solid #e6e6e6;
        color: #06C;
        padding: 0 0 0 10px;
        height: 25px;
        line-height: 25px;
        overflow: hidden;
        position: relative;
        background: #fff;
        z-index: 1;
        bottom: -2px;
    }

        .city-tit a b {
            font-weight: 400;
            float: left;
            font-size: 12px;
            color: #313131;
        }

        .city-tit a i {
            width: 6px;
            height: 4px;
            display: inline-block;
            overflow: hidden;
            background: url(images/ui.gif) -468px -40px no-repeat;
            margin: 11px 5px 0;
        }

        .city-tit a.close {
            width: 12px;
            height: 12px;
            float: right;
            background: url(images/ui.gif) -384px -74px no-repeat;
            padding: 0;
            border: 0;
        }

.citybox {
    overflow: hidden;
}

.gctBox {
    width: 100%;
    margin: 8px 0 0;
    line-height: 50px;
    text-align: center;
    color: #ccc;
    float: left;
}

    .gctBox span {
        width: 95px;
        height: 26px;
        line-height: 26px;
        padding-left: 8px;
        float: left;
        overflow: hidden;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #313131;
        font-size: 12px;
        cursor: pointer;
    }

        .gctBox span:hover {
            color: red;
        }

    .gctBox a {
        line-height: 26px;
        padding: 3px 5px;
    }