.slick-header.ui-state-default,
.slick-headerrow.ui-state-default{width:100%;overflow:hidden;border-left:0;}
.slick-header-columns,
.slick-headerrow-columns{
    position:relative;
    white-space:nowrap;
    cursor:default;
}
.slick-header-column.ui-state-default{
    position:relative;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    height:16px;
    line-height:16px;
    margin:0;
    padding:4px;
    border-right:1px solid #AED0EA;
    border-left:0;
    border-top:0;
    border-bottom:0;
    float:left;
}
.slick-headerrow-column.ui-state-default{
    padding:4px;
}
.slick-header-column-sorted{
    font-style:italic;

}
.slick-sort-indicator{
    display:inline-block;width:8px;height:5px;margin-left:4px;

}
.slick-sort-indicator-desc{
    background:url(images/sort-desc.gif);

}
.slick-sort-indicator-asc{
    background:url(images/sort-asc.gif);

}
.slick-resizable-handle{
    position:absolute;
    font-size:.1px;
    display:block;
    cursor:col-resize;
    width:4px;
    right:0;
    top:0;
    height:100%;

}
.slick-resizable-handle-hover{
    background-color:#ccc;

}.slick-sortable-placeholder{
     background:silver;

 }
 .grid-canvas{
     position:relative;
     outline:0;
 }
 .slick-row.ui-widget-content,
 .slick-row.ui-state-active{
     position:absolute;
     border:0;
     width:100%;
 }
 .slick-cell,
 .slick-headerrow-column{
     position:absolute;
     border:1px solid transparent;
     border-right:1px dotted silver;
     border-bottom-color:silver;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
     vertical-align:middle;
     z-index:1;/*padding:1px 2px 2px 1px;*/
     margin:0;
     white-space:nowrap;
     cursor:default;
 }
 .editor-text{
     width:100%;
     background:white;
     left:-2px;
     top:-1px;
 }
 .slick-group-toggle{
     display:inline-block;

 }
 .slick-cell.highlighted{
     background:lightskyblue;
     background:rgba(0,0,255,0.2);
     -webkit-transition:all .5s;
     -moz-transition:all .5s;
     transition:all .5s;
 }
 .slick-cell.flashing{
     border:1px solid red!important;
 }
 .slick-cell.editable{
     z-index:11;
     overflow:visible;
     background:white;
     border-color:black;
     border-style:solid;
 }
 .slick-cell:focus{
      outline:none;

 }
 .slick-reorder-proxy{
     display:inline-block;
     background:blue;
     opacity:.15;
     filter:alpha(opacity = 15);
     cursor:move;
 }
 .slick-reorder-guide{
     display:inline-block;
     height:2px;
     background:blue;
     opacity:.7;
     filter:alpha(opacity = 70);
 }
 .slick-selection{
     z-index:10;
     position:absolute;
     border:2px dashed black;
 }
 .slick-pane{
     position:absolute;
     outline:0;
     width:100%;
 }
 .slick-pane-header{
      display:block;
 }
 .slick-header{
     overflow:hidden;
     position:relative;
 }
 .slick-headerrow{
     overflow:hidden;
     position:relative;
 }
 .slick-top-panel-scroller{
     overflow:hidden;
     position:relative;
 }
 .slick-top-panel{
     width:10000px;
 }
 .slick-viewport{
     position:relative;
     outline:0;
     width:100%;
 }
 .esItem{
     background:white;
 }
 .esItemHover{
     background:#e4f1fb url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50% 50% repeat-x;
     border: 1px solid #74b2e2;
     border-radius: 6px 6px 6px 6px;color:#0070a3;
 }
 .esTextBox{
     background:url(images/arrow.png) 98% 50% no-repeat #fff;border:1px solid #aaa;
 }
 .esUl{border:1px solid #aaa;width:100%;}
.esLi {margin: 0 1px;padding: 0.5ex 0 0.5ex 5px;min-height:14px;}
.slick-header-columns{
    background:url('../Scripts/slickgrid/images/header-columns-bg.gif') repeat-x center bottom;
    border-bottom:1px solid silver;
}
.slick-header-column{
    background:url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;border-right:1px solid silver;
}
.slick-header-column:hover,
.slick-header-column-active{
    background:white url('../Scripts/slickgrid/images/header-columns-over-bg.gif') repeat-x center bottom;
}
.slick-pane-right{width:100%;}
.slick-headerrow{background:#fafafa;}
.slick-headerrow-column{background:#fafafa;border-bottom:0;height:100%;}
.slick-row.ui-state-active{background:#F5F7D7;}
.slick-row{position:absolute;background:white;border:0;line-height:22px;}
.slick-row.selected{z-index:10;background:#DFE8F6 !important;}
.slick-cell{padding-left:4px;padding-right:4px;}
.slick-group{border-bottom:2px solid silver;}
.slick-group-toggle{width:9px;height:9px;margin-right:5px;}
.slick-group-toggle.expanded{background:url(../images/collapse.gif) no-repeat center center;}
.slick-group-toggle.collapsed{background:url(../images/expand.gif) no-repeat center center;}
.slick-group-totals{color:gray;background:white;}
.slick-cell.selected{background-color:beige !important;/*#fffcc1;*/}
.slick-cell.active{border:1px solid #2779AA;}
.slick-sortable-placeholder{background:silver!important;}
.slick-row.odd{background:#fafafa;}
.slick-row.ui-state-active{background:#F5F7D7;}
.slick-row.loading{opacity:.5;filter:alpha(opacity = 50);}
.slick-cell.invalid{border-color:red;}
.editor-text{width:100%;border:1px solid #D1D5D8;}
.slick-columnpicker{border:1px solid #718BB7;background:#f0f0f0;padding:6px;-moz-box-shadow:2px 2px 2px silver;-webkit-box-shadow:2px 2px 2px silver;min-width:100px;cursor:default;}
.slick-columnpicker li{list-style:none;margin:0;padding:0;background:none;}
.slick-columnpicker input{margin:4px;}
.slick-columnpicker li a{display:block;padding:4px;font-weight:bold;}
.slick-columnpicker li a:hover{background:white;}                                 /* begin 列标题按钮样式 */
.slick-column-name {
  margin-bottom: 100px;
  white-space: normal; 
}
.slick-header-button {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin: 1px;
  
  margin-bottom: 100px;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.slick-header-button-hidden {
  width: 0;

  -webkit-transition: 0.2s width;
  -ms-transition: 0.2s width;
  transition: 0.2s width;
}
.slick-header-column:hover > .slick-header-button {
  width: 15px;
}
.slick-header-menubutton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;

  display: none;
  border-left: thin ridge silver;
}
.slick-header-column:hover > .slick-header-menubutton,
.slick-header-column-active .slick-header-menubutton {
  display: inline-block;
}

/* Menu */
.slick-header-menu {
  position: absolute;
  display: inline-block;
  background: none repeat scroll 0 0 #F0F0F0;
  border: 1px solid #718BB7;
  min-width: 100px;
  margin: 0;
  padding: 2px;
  z-index: 20;
  cursor: default;
}

/* Menu items */
.slick-header-menuitem {
  list-style: none;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px;
  margin: 0;
  cursor: pointer;
}
.slick-header-menuicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-header-menucontent {
  display: inline-block;
  vertical-align: middle;
}
/* Disabled */
.slick-header-menuitem-disabled {
  color: silver;
}
.slick-columnpicker {
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  cursor: default;
}
.slick-columnpicker li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: none;
}
.slick-columnpicker input {
  margin: 4px;
}
.slick-columnpicker li a {
  display: block;
  padding: 4px;
  font-weight: bold;
}
.slick-columnpicker li a:hover {
  background: white;
}
/* 列菜单样式 */
.slick-column-menu {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 2px;
  cursor: default;
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 2px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  z-index: 20;
}
/* Menu items */
.slick-column-menuitem {
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.slick-column-menuicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-column-menupopicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-column-menucontent {
  display: inline-block;
  vertical-align: middle;
}
.slick-column-menuitem:hover {
    border-color: silver;
    background: white;
}
.slick-column-menuitem-disabled {
    color: silver;
    border-color: transparent !important;
    background: inherit !important;
}

/*summary column range*/
.slick-column-summary{
  border: 1px solid;
  border-color: black;
  background-color: #FFFCC1;
  padding:5px;
  color:red;
  border-radius:5px;
}

/* Summary Footer */
.slick-summaryfooter {
  width: 100%;
  height: 26px;
  /*background: url('images/header-columns-bg.gif') repeat-x center bottom;*/
  vertical-align: middle;
}

.slick-summaryfooter-column {
  /*background: url('images/header-columns-bg.gif') repeat-x center bottom;*/
  border-right: 1px solid silver;
}

.slick-summaryfooter .slick-summaryfooter-status {
  display: inline-block;
  padding: 6px;
}

.slick-summaryfooter .ui-icon-container {
  display: inline-block;
  margin: 2px;
  border-color: gray;
}

.slick-summaryfooter .slick-summaryfooter-nav {
  display: inline-block;
  float: left;
  padding: 2px;
}

.slick-summaryfooter .slick-summaryfooter-settings {
  display: block;
  float: right;
  padding: 2px;
}

.slick-summaryfooter .slick-summaryfooter-settings * {
  vertical-align: middle;
}

.slick-summaryfooter .slick-summaryfooter-settings a {
  padding: 2px;
  text-decoration: underline;
  cursor: pointer;
}

.slick-footer.ui-state-default, 
.slick-footerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}

.slick-footer-columns, .slick-footerrow-columns {
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-footer-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  border-right: 1px solid silver;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
}

.slick-footerrow-column.ui-state-default {
  padding: 4px;
}
.slick-footer-columns .slick-column-name
{
    color:red;
}
.cell-noneline-bottom
{
    border-bottom:0;
}

/* cell copy style */
.slick-cell.copied {
    /*background: blue;*/
    /*background: rgba(0, 0, 255, 0.2) !important;*/
    background-color:#2482f5 !important;
    color:white;
    -webkit-transition: 0.5s background;
}