@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" name="viewport"
          content="text/html; charset=UTF-8; width=device-width, initial-scale=1.0">
    <title>List</title>
    <link href="~/Content/slickgrid/slick.grid.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-example.css" rel="stylesheet" />
    <style rel="stylesheet" type="text/css">
    </style>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">表单数据</h3>
        </div>
        <div class="modal-body">
            <div id="myEntityDefGrid" style="width:100%;height:200px;float:left;"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="entitydeflist.sure();">确定</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-danger" onclick="entitydeflist.delete();">删除</button>
        </div>
    </div>


    <!-- slickgrid -->
    <script src="~/Scripts/slickgrid/slick.core.js"></script>
    <script src="~/Scripts/slickgrid/slick.grid.js"></script>
    <script src="~/Scripts/slickgrid/slick.dataview.js"></script>
    <script src="~/Scripts/slickgrid/plugins/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="~/ViewJS/entitydeflist.js"></script>

    <script type="text/javascript">
        $(function () {
            //entitydeflist.load();
        })
    </script>

</body>
</html>
