@charset "utf-8";
/* CSS Document */
@import url("layout.css");
@import url("base.css");

/* =========================登录页样式.开始======================= */
.login-screen{ position:absolute; top:50%; left:50%; margin-top:-160px; margin-left:-245px; width:490px; text-align:left; }
.login-icon{ float:left; width:96px; height:96px; text-indent:-9999px;  }
	.login-icon>h4{ margin-top:4px; color:#fff; font-size:17px; font-weight:200; line-height:34px; opacity:0.95; }
		.login-icon>h4 small{color:inherit; display:block; font-size:inherit; font-weight:700; }
.login-form{ float:left; margin-left:30px; padding:20px 25px 25px 25px; width:310px; background:#ECEFF1; border-radius:6px; text-align:center; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); }
	.login-form h1{ display:block; margin-bottom:20px; border-bottom:1px solid #DFDFDF; text-align:left; height:40px; line-height:30px; color:#304b65; font-size:21px; font-weight:300; font-family:'Microsoft YaHei'; background:url(images/login_tit.png) no-repeat 0 0; text-indent:-9999px; }
	.control-group{ position:relative; margin-bottom:6px; }
	.login-field{ display:inline-block; padding:11px 0 11px 10px; width:296px; height:20px; line-height:20px; color:#ACB6C0; font-size:17px; background:#fff; border:1px solid #E5E5E5; border-radius:6px 6px 6px 6px; margin-bottom:10px; vertical-align:middle; }
		.login-field:focus{ border:1px solid #BBD5EA; }
	.placeholder{ color:#999; }
	.login-field-icon{ position:absolute; display:block; top:14px; right:13px; width:16px; height:20px; cursor:pointer; background:url(images/skin_icons.png) no-repeat; }
		.login-field-icon.user{ background-position:-1px -137px;}
		.login-field-icon.pwd{ background-position:-28px -137px; }
	.btn-login{ display:block; margin:0; padding:10px 0; width:100%; color:#fff; border:2px solid #ECEFF1; border-radius:6px 6px 6px 6px;  background:#33B5E5; font-size:16.5px; text-decoration:none; cursor:pointer; *border:0; }
	.login-tips{ display:block; margin:15px auto 0 auto; height:14px; }
		.login-tips i{ display:inline-block; margin-right:5px; width:14px; height:14px; background:url(images/skin_icons.png) -56px -140px no-repeat; text-indent:-9999px; vertical-align:middle; }
		.login-tips b{ display:inline-block;height:14px; line-height:14px;  font-size:12px; font-weight:normal; color:#BFC9CA; vertical-align:middle; }
.login-screen .arrow{ position:absolute; display:block; left:116px; top:30px; width:11px; height:22px; text-indent:-9999px; background:url(images/skin_icons.png) -80px -356px no-repeat; }
/* =========================登录页样式.结束======================= */

/* =========================管理首页样式.开始======================= */
a{ color:#666; text-decoration:none; }
a:link, a:visited{ color:#2A72C5; text-decoration:none; }
a:hover{ color:#0065D9; text-decoration:underline; }
a:active{ color:#0065D9; text-decoration:none; }
.header{ background:#33B5E5; }
.logo{ display:block; float:left; width:96px; height:42px; border-right:1px solid #1da0d0; text-indent:-9999px; overflow:hidden; }
/*顶部菜单*/
.nav{ display:block; float:left; height:100%; border-right:1px solid #4dc4f0; }
	.nav li{ display:block; float:left; margin:0; padding:0px 15px; border-left:1px solid #4dc4f0; border-right:1px solid #1da0d0; color:#fff; cursor:pointer; font-size:14px; height:42px; line-height:42px; vertical-align:middle; }
	.nav li:hover{ background:#50c0e9; }
	.nav .selected{ background:#16a0d3; }
	.nav .icon-0,.nav .icon-1,.nav .icon-2,.nav .icon-3,.nav .icon-4,.nav .icon-5,
	.nav .icon-6{ display:block; background:url(images/skin_icons.png) no-repeat; float:left; height:42px; width:20px; }
	.nav .icon-0{ background-position:2px -305px;  }
	.nav .icon-1{ background-position:-38px -305px; }
	.nav .icon-2{ background-position:-78px -305px; }
	.nav .icon-3{ background-position:-118px -305px; }
	.nav .icon-4{ background-position:-158px -305px; }
	.nav .icon-5{ background-position:-198px -305px; }
	.nav .icon-6{ background-position:-238px -305px; }
	.nav li span{ padding-left:5px; line-height:40px; }
/*顶部右边导航*/
.nav-right{ float:right; }
	.nav-right .icon-info{ float:left; padding:0 10px 0 34px; height:42px; line-height:42px; border-right:1px solid #1da0d0; background:url(images/skin_icons.png) no-repeat 0 -429px; }
	.nav-right .icon-info span{ display:block; padding-top:6px; color:#ebebeb; font-size:12px; line-height:1.2em; }
	.nav-right .icon-option{ position:relative; display:block; cursor:pointer; float:left; padding:0 15px; height:42px; border-left:1px solid #4dc4f0; background:#16a0d3; }
	.nav-right .icon-option i{ display:block; width:20px; height:42px; background:url(images/skin_icons.png) -199px -305px no-repeat; }
	.nav-right .icon-option:hover{ background:#50c0e9; }
	.nav-right .icon-option:hover .drop-box{ display:block; }
/*右边导航菜单项*/
.drop-box{ display:none; position:absolute; top:42px; right:1px; }
	.drop-box .arrow{ position:absolute; display:block; top:0; right:15px; width:21px; height:11px; text-indent:-999999px; background:url(images/skin_icons.png) no-repeat 0 -356px; }
	.drop-box .drop-item{ margin-top:10px; padding:10px; border:1px solid #b1b1b1; background:#fff; box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.2); }
	.drop-box .drop-item li a{ display:block; padding:8px 15px; color:#222; font-size:12px; line-height:1em; text-align:center; white-space:nowrap; }
	.drop-box .drop-item li a:hover{ color:#fff; text-decoration:none; background:#55afeb; }
/*左边导航*/
.main-sidebar{ border-right:1px solid #dbdbdb; background:#f6f7f7; }
	.sidebar-nav .list-box{ margin:0; padding:0; font-size:12px; color:#fff; }
	.sidebar-nav .list-box .list-group{ display:none; }
	.sidebar-nav .list-box .list-group h2{ position:relative; display:block; padding:10px 0 10px 20px; font-size:12px; color:#222; font-weight:normal; line-height:20px; background:#e9e9e9; border-top:1px solid #f4f4f4; border-bottom:1px solid #ddd; cursor:pointer; }
		.sidebar-nav .list-box .list-group h2 i{ position:absolute; right:0; top:0; display:block; width:34px; height:40px; text-indent:-9999px; background:url(images/skin_icons.png) -46px -156px no-repeat;}
	/*树型菜单*/
		.sidebar-nav .list-box .list-group ul li .item{ position:relative; display:block; padding:10px 0 10px 20px; line-height:20px; height:20px; border-bottom:1px solid #dbdbdb; background:#f6f7f7; cursor:pointer; }
		.sidebar-nav .list-box .list-group ul li .item:hover,.tree-menu li .item:active{ background:#f1f1f1; text-decoration:none; }
		.sidebar-nav .list-box .list-group ul li .item:hover span{ display:inherit; color:#2A72C5; }
		.sidebar-nav .list-box .list-group ul li .item.pack{  background:#f3f3f3; text-decoration:none; }
		.sidebar-nav .list-box .list-group ul li .item.selected{ background:#16a0d3; }
		.sidebar-nav .list-box .list-group ul li .item.selected .folder.open{ background:url(images/skin_icons.png) -40px -236px no-repeat; }
		.sidebar-nav .list-box .list-group ul li .item.selected .arrow{ position:absolute; top:9.5px; right:-1px; width:7px; height:21px; background:url(images/skin_icons.png) -40px -356px no-repeat; }
		.sidebar-nav .list-box .list-group ul li .item.selected span{ color:#fff; }
		.sidebar-nav .list-box .list-group ul .expandable{ display:block; float:left; width:16px; height:20px; cursor:pointer; }
		.sidebar-nav .list-box .list-group ul .expandable.open{ background:url(images/skin_icons.png) -28px -164px no-repeat; }
		.sidebar-nav .list-box .list-group ul .expandable.close{ background:url(images/skin_icons.png) 0 -164px no-repeat; }
		.sidebar-nav .list-box .list-group ul .folder{ display:block; float:left; width:25px; height:20px; background:url(images/skin_icons.png) 0 -196px no-repeat; }
		.sidebar-nav .list-box .list-group ul .folder.open{ background:url(images/skin_icons.png) -40px -196px no-repeat; }
		.sidebar-nav .list-box .list-group ul .item span{ display:inherit; color:#333; }
/*右边框架*/
.main-container{ background:#fff; }
/*快捷导航*/
.btn-paograms{ display:block; position:absolute; bottom:20px; right:20px; z-index:12; cursor:pointer; width:22px; height:22px; background:url(images/skin_icons.png) 1px -395px no-repeat; }
	.btn-paograms:hover{ background-position:-39px -395px; }
.pop-menu{ visibility:hidden; position:absolute; right:20px; bottom:45px; z-index:12; background:#09F; }
	.pop-menu .arrow{ position:absolute; display:block; right:10px; bottom:0; width:21px; height:11px; text-indent:-999em; background:url(images/skin_icons.png) no-repeat 0 -366px; }
	.pop-menu .pop-box{ position:absolute; display:block; right:0; bottom:10px; padding:30px 10px 10px 11px; border:1px solid #b1b1b1; background:#fff; box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.2); }
	.pop-menu .pop-box .list-box{ display:block; width:100%; height:100%; overflow:auto; }
	.pop-menu .pop-box .list-box .list-group{ float:left; margin-left:-1px; padding:0; width:120px; height:auto; border:1px solid #f2f2f2; overflow:hidden; }
	.pop-menu .pop-box .list-box .list-group:first-child{ margin-left:0; }
	.pop-menu .pop-box .list-box .list-group h2{ padding:8px; font-size:12px; color:#444; font-weight:bold; line-height:1.0em; background:#f9f9f9; }
	.pop-menu .pop-box .list-box .list-group ul{ margin-left:10px; }
	.pop-menu .pop-box .list-box ul li a{ display:block; padding:8px 10px; font-size:12px; color:#666; line-height:1.0em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
	.pop-menu .pop-box .list-box ul li a:hover{ text-decoration:none; }
	.pop-menu .pop-box .list-box ul li a.nolink{ font-weight:bold; cursor:default; }
	.pop-menu .pop-box .list-box ul li a.link{ cursor:pointer; }
	.pop-menu .pop-box .list-box ul li a.link:hover{ color:#fff; background:#55afeb; }
	.pop-menu .pop-box h1.title{ position:absolute; top:8px; left:10px; line-height:14px; font-size:13px; font-weight:bold; color:#222; }
	.pop-menu .pop-box h1.title i{ display:inline-block; margin-right:2px; width:14px; height:16px; background:url(images/skin_icons.png) -280px -112px no-repeat; vertical-align:middle; }
	.pop-menu .pop-box .close{ position:absolute; display:block; top:5px; right:5px; width:14px; height:14px; text-indent:-999em; background:url(images/skin_icons.png) -112px -168px no-repeat; cursor:pointer; }
	
.nlist-1{ line-height:45px; color:#444; font-size:12px; }
	.nlist-1 ul{ padding:0 0 0 20px; }
	.nlist-1 ul:after{ clear:both;content:".";display:block;height:0;visibility:hidden; }
	.nlist-1 ul li{ float:left; margin-right:10px; width:32%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.nlist-2{ line-height:30px; border:1px solid #ebebeb; color:#444; font-size:12px; }
	.nlist-2 h3{  margin:0; padding:0 0 0 20px; font-size:12px; font-weight:bold; color:#333; line-height:34px; height:34px; }
	.nlist-2 h3 i{ display:inline-block; margin-right:3px; width:14px; height:16px; vertical-align:middle; background:url(images/skin_icons.png) -280px -112px no-repeat; overflow:hidden; }
	.nlist-2 ul{ padding:0 0 10px 20px; *display:inline-block; }
	.nlist-2 ul:after{ clear:both;content:".";display:block;height:0;visibility:hidden; }
	.nlist-2 ul li{ float:left; margin-right:10px; width:32%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.nlist-3{ float:left; width:350px; overflow:hidden; }
	.nlist-3 ul{ float:left; width:344px; }
	.nlist-3 ul:after{ clear:both;content:".";display:block;height:0;visibility:hidden; }
	.nlist-3 ul li{ display:inline; float:left; margin-right:20px; height:108px; }
	.nlist-3 ul li a{ display:block; width:64px; height:64px; border:1px solid #fff; background:url(images/skin_icons.png) no-repeat #fff; filter:alpha(opacity=60); opacity:0.6; }
	.nlist-3 ul li a:hover{ filter:alpha(opacity=100); opacity:1; }
	.nlist-3 ul li a.icon-setting{ background-position:0 -629px; }
	.nlist-3 ul li a.icon-channel{ background-position:-128px -629px; }
	.nlist-3 ul li a.icon-templet{ background-position:-256px -629px; }
	.nlist-3 ul li a.icon-mark{ background-position:-384px -629px; }
	.nlist-3 ul li a.icon-plugin{ background-position:0 -757px; }
	.nlist-3 ul li a.icon-user{ background-position:-128px -757px; }
	.nlist-3 ul li a.icon-manaer{ background-position:-256px -757px; }
	.nlist-3 ul li a.icon-log{ background-position:-384px -757px; }
	.nlist-3 ul li span{ display:block; width:64px; height:24px; line-height:24px; text-align:center; font-size:12px; color:#444; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.nlist-4{ margin-left:350px; border:1px solid #ebebeb; font-size:12px; height:192px; overflow:hidden; }
	.nlist-4 h3{ margin:0; padding:0 10px; line-height:34px; font-size:12px; color:#333; }
	.nlist-4 h3 i{ display:inline-block; margin-right:3px; width:14px; height:16px; vertical-align:middle; background:url(images/skin_icons.png) no-repeat; overflow:hidden;}
	.nlist-4 h3 i.site{ background-position:-84px -112px; }
	.nlist-4 h3 i.msg{ background-position:-308px -112px; }
	.nlist-4 ul{ padding:0 10px; }
	.nlist-4 ul li{ color:#005eac; line-height:22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
/* =========================管理首页样式.结束======================= */

/* =========================内页通用样式.开始======================= */
.location{ padding-bottom:9px;  padding-top:9px; border-bottom:solid 1px #e1e1e1; height:22px; line-height:22px; font-size:12px; color:#333; }
	.location a{ display:inline-block; color:#333; text-decoration:none; }
	.location a:hover{ color:#0065D9; text-decoration:none; }
	.location a i{ display:inline-block; margin-right:5px; width:14px; height:14px; text-indent:-999em; background:url(images/skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; /*float:left;*margin-top:5px;*/ }
	.location a.back{ margin-right:15px; }
	.location a.back i{ background-position:0 0; }
	.location a.home i{ background-position:-28px 0; }
	.location span{ display:inline-block; vertical-align:middle; }
	.location .arrow{ display:inline-block; margin:auto 3px; width:14px; height:14px; background:url(images/skin_icons.png) no-repeat -56px 0; vertical-align:middle; }
textarea{ overflow:auto; }
textarea.input{ width:300px; height:65px; }
.input{ padding:5px 4px; min-height:20px; line-height:20px; border:1px solid #d4d4d4; background:#fff; vertical-align:middle; color:#333; font-size:100%; }
	.input.normal{ width:300px; }
	.input.txt{ width:200px; }
	.input.small{ width:50px; }
    .input.disabled{ background:#F3F3F3 }
    .input.disabled, .input[disabled] {background:#F3F3F3}

	.input:focus{ background:#FFFBDE; border-color:#7BBFF2; outline:2px solid #99D8F5; }
.input-date{ position:relative; display:inline-block; width:180px; height:30px; vertical-align:middle; *display:inline; }
	.input-date .date{ width:170px; }
	.input-date i{ position:absolute; top:8px; right:8px; width:14px; height:14px; text-indent:-99em; background:url(images/skin_icons.png) no-repeat -196px -112px; overflow:hidden;}
.select{ margin:1px; padding:4px; min-height:20px; line-height:20px; border:1px solid #d4d4d4; background:#fff; vertical-align:middle; color:#333; font-size:100%; }
.select1{ padding:1px; min-height:20px; line-height:20px; border:1px solid #d4d4d4; background:#fff; vertical-align:middle; color:#333; font-size:100%; }
/* =========================内页通用样式.结束======================= */

/* ==========================列表页样式.开始======================== */
.toolbar-wrap{ padding:10px 0; min-height:52px; }
.toolbar{ left:15px; right:15px; padding:10px 0; background:#fff; z-index:2; }
	.toolbar:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.toolbar .l-list{ float:left; }
	.toolbar .l-list .icon-list{ margin-right:10px; }
	.toolbar .l-list .icon-list,.toolbar .l-list .icon-list li{ float:left; }
	.toolbar .l-list .icon-list li:first-child a{ border-left:solid 1px #dbdbdb; }
	.toolbar .l-list .icon-list li a{ display:inline-block; padding:5px 10px 5px 8px; line-height:20px; height:20px; border:solid 1px #e1e1e1; border-left:none; color:#333; font-size:12px; text-decoration:none; background:#fafafa; }
	.toolbar .l-list .icon-list li a:hover{ color:#2A72C5; }
	.toolbar .l-list .icon-list li a span{ display:inline-block; vertical-align:middle; }
	.toolbar .l-list .icon-list li a i{ display:inline-block; margin-right:3px; width:14px; height:14px; text-indent:-999em; background:url(images/skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; /*display:block;*float:left;*margin-top:4px;*/ }
	.toolbar .l-list .icon-list li a.add i{ background-position:0 -28px; }
	.toolbar .l-list .icon-list li a.save i{ background-position:-28px -28px; }
	.toolbar .l-list .icon-list li a.all i{ background-position:-56px -28px; }
	.toolbar .l-list .icon-list li a.del i{ background-position:-84px -28px; }
	.toolbar .l-list .icon-list li a.folder i{ background-position:-112px -28px; }
	.toolbar .l-list .icon-list li a.list i{ background-position:-140px -28px; }
	.toolbar .l-list .menu-list{ float:left; }

	.toolbar .r-list{ float:right; }
	.toolbar .r-list .keyword{ display:block; float:left; margin:0; padding:0 5px; width:110px; height:30px; line-height:28px; font-size:12px; border:1px solid #dbdbdb; color:#444; }
	.toolbar .r-list .btn-search{ display:block; float:left; margin:0 0 0 -1px; padding:0; width:30px; height:30px; line-height:30px; border:1px solid #dbdbdb; background:url(images/skin_icons.png) -160px -20px no-repeat #fafafa; cursor:pointer; text-indent:-9999px; }
	.toolbar .r-list .img-view{ display:block; float:left; margin-left:10px; width:30px; height:30px; border:1px solid #dbdbdb; background:url(images/skin_icons.png) -187px -20px no-repeat #fafafa; text-indent:-9999px; }
	.toolbar .r-list .txt-view{ display:block; float:left; width:30px; height:30px; border:1px solid #dbdbdb; border-left:none; background:url(images/skin_icons.png) -216px -20px no-repeat #fafafa; text-indent:-9999px; }

.ltable{ width:100%; border:1px solid #e1e1e1; font-family:"Microsoft YaHei"; font-size:12px; }
	.ltable th{ padding:8px 5px; color:#333; font-size:12px; font-weight:500; background:#f3f3f3; border-bottom:1px solid #E1E1E1; line-height:1.5em; }
	.ltable td{ padding:8px 5px; border-bottom:1px solid #e8e8e8; line-height:1.5em; color:#666; }
	.ltable td .sort{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; width:40px; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }
	.ltable td .btn-tools{ display:inline-block; height:22px;  vertical-align:middle; }
		.ltable td .btn-tools a{ display:block; float:left; margin:0; padding:0; width:20px; height:20px; border:1px solid #e8e8e8; border-left:none; text-indent:-9999em; background:url(images/skin_icons.png) no-repeat #fff; overflow:hidden; }
		.ltable td .btn-tools a:first-child{ border-left:1px solid #e8e8e8; }
		.ltable td .btn-tools a.msg{ background-position:3px -81px; }
		.ltable td .btn-tools a.msg.selected{ background-position:3px -109px; }
		.ltable td .btn-tools a.top{ background-position:-25px -81px; }
		.ltable td .btn-tools a.top.selected{ background-position:-25px -109px; }
		.ltable td .btn-tools a.red{ background-position:-53px -81px; }
		.ltable td .btn-tools a.red.selected{ background-position:-53px -109px; }
		.ltable td .btn-tools a.hot{ background-position:-81px -81px; }
		.ltable td .btn-tools a.hot.selected{ background-position:-81px -109px; }
		.ltable td .btn-tools a.pic{ background-position:-109px -81px; }
		.ltable td .btn-tools a.pic.selected{ background-position:-109px -109px; }
		.ltable td .folder-open{ display:inline-block; margin-right:2px; width:20px; height:20px; background:url(images/skin_icons.png) -40px -196px no-repeat; vertical-align:middle; text-indent:-999em; *text-indent:0; }
		.ltable td .folder-line{display:inline-block; margin-right:2px; width:20px; height:20px; background:url(images/skin_icons.png) -80px -196px no-repeat; vertical-align:middle; text-indent:-999em; *text-indent:0; }
	.ltable tr:hover{ background:#F2F7FB; }
	.ltable .odd_bg{ background:#fafafa; }
	.ltable td .user-avatar{ display:block; width:64px; height:64px; background:url(images/skin_icons.png) 3px -498px no-repeat #fff;}
	.ltable td .user-box{ padding-left:10px; }
		.ltable td .user-box h4{ margin:0; padding:0; display:block; font-weight:normal; font-size:12px; height:16px; line-height:14px;}
		.ltable td .user-box h4 b{ color:#06F;}
		.ltable td .user-box i{ display:block; color:#999; font-style:normal; line-height:24px; height:24px; }
		.ltable td .user-box span{ display:block; padding:2px 0 0 0; height:14px; }
		.ltable td .user-box span a{ display:block; float:left; margin-right:5px; width:20px; height:20px; background:url(images/skin_icons.png) no-repeat #fff; border:1px solid #E1E1E1; text-indent:-999em;}
		.ltable td .user-box span a.amount{ background-position:-331px -109px;}
		.ltable td .user-box span a.point{ background-position:-221px -109px; }
		.ltable td .user-box span a.msg{ background-position:-305px -109px;}
		.ltable td .user-box span a.sms{ background-position:-443px -110px;}
		
	.ltable td.comment{ padding:10px; line-height:1em; }
		.ltable td.comment .title{ margin-bottom:5px; line-height:180%; font-weight:bold; }
		.ltable td.comment .title .note{ float:right; font-weight:normal; }
		.ltable td.comment .title .note i{ margin-left:10px; font-style:normal; font-family:'Microsoft YaHei'; color:#999; }
		.ltable td.comment .title .note i.reply{ padding-left:18px; }
		.ltable td.comment .ask{ line-height:180%; font-family:'Microsoft YaHei'; }
		.ltable td.comment .ask .audit{ margin-right:3px; display:inline-block; vertical-align:middle; width:14px; height:14px; background:url(images/skin_icons.png) -362px -112px  no-repeat; }
		.ltable td.comment .ask .answer{ margin-top:10px; padding:6px 10px; border:1px solid #f6e8b9; background:#fbf8e7; color:#666; }
		.ltable td.comment .ask .answer b{ color:#090; }
		.ltable td.comment .ask .answer .time{ display:block; float:right; color:#999; }

/*分页样式*/
.pagelist{ clear:both; display:block; margin:0 0 20px 0; }
	.pagelist:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.pagelist .l-btns{ display:block; float:left; margin:0 5px 0 0; padding:0 10px; border:1px solid #dbdbdb; height:28px; overflow:hidden; }
	.pagelist .l-btns span{ font-size:12px; color:#333; line-height:28px; }
	.pagelist .l-btns .pagenum{ display:inline-block; margin:0 5px; padding:0 5px; border:1px solid #dbdbdb; border-top:0; border-bottom:0; width:30px; height:28px; line-height:28px; font-size:12px; color:#333; text-align:center; vertical-align:top; overflow:hidden; }

/*图文列表*/
.imglist{ width:100%; overflow:hidden; }
	.imglist ul{ *padding-bottom:15px; }
	.imglist ul:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.imglist ul li{ float:left; width:222px; margin-bottom:15px; /*margin-right:25.75px;*/ }
	.imglist ul li .details{ position:relative; border:1px solid #dbdbdb; box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.2); background:#fff; }
	.imglist ul li .details .check{ position:absolute; top:0px; right:0px; padding:5px; border-left:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; background:#fff; }
	.imglist ul li .details .absbg{ position:absolute; left:0px; top:95px; width:100%; height:70px; background:#000; filter:alpha(opacity=20); opacity:0.2; }
	.imglist ul li .details .pic{ width:220px;height:165px;overflow:hidden; }
		.imglist ul li .details .pic img{ min-width:220px; min-height:165px; cursor:pointer; }
	.imglist ul li .details h1{ position:absolute; display:block; padding:10px 20px; left:0px; top:95px; width:180px; height:50px; border-bottom:1px solid #dbdbdb; }
		.imglist ul li .details h1 span{ display:block; color:#fff; font-size:14px; font-weight:bold;  width:180px; height:50px; line-height:25px; text-overflow:ellipsis; overflow:hidden; }
	.imglist ul li .details .remark{ display:block; margin:10px 15px; padding:0; height:60px; color:#666; font-size:12px; line-height:20px; text-overflow:ellipsis; overflow:hidden; }
	.imglist ul li .details .foot{ clear:both; display:block; padding:10px 15px; height:20px; }
		.imglist ul li .details .foot .time{ float:left; color:#838383; font-size:10px; line-height:20px; }
		.imglist ul li .details .foot .edit{ display:block; float:right; margin:0; padding:0; width:20px; height:20px; text-indent:-99999px; background:url(images/skin_icons.png) no-repeat -137px -109px; overflow:hidden; }
	
	.imglist ul li .details .tools{ display:block; position:relative; padding:0 15px; }
		.imglist ul li .details .tools:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
		.imglist ul li .details .tools a{ display:block; float:left; margin:0; padding:0; width:28px; height:28px; border:1px solid #e8e8e8; border-left:none; text-indent:-99999px; background:url(images/skin_icons.png) no-repeat #fff; overflow:hidden; }
		.imglist ul li .details .tools a:first-child{ border-left:1px solid #e8e8e8; }
		.imglist ul li .details .tools a.msg{ background-position:7px -77px; }
		.imglist ul li .details .tools a.msg.selected{ background-position:7px -105px; }
		.imglist ul li .details .tools a.top{ background-position:-21px -77px; }
		.imglist ul li .details .tools a.top.selected{ background-position:-21px -105px; }
		.imglist ul li .details .tools a.red{ background-position:-49px -77px; }
		.imglist ul li .details .tools a.red.selected{ background-position:-49px -105px; }
		.imglist ul li .details .tools a.hot{ background-position:-77px -77px; }
		.imglist ul li .details .tools a.hot.selected{ background-position:-77px -105px; }
		.imglist ul li .details .tools a.pic{ background-position:-105px -77px; }
		.imglist ul li .details .tools a.pic.selected{ background-position:-105px -105px; }
		.imglist ul li .details .tools .sort{ float:right; margin:0; margin-left:-1px; padding:0 2px; border:1px solid #e8e8e8; width:39px; height:28px; line-height:28px; text-align:center; color:#66; font-size:12px; }
	.imglist ul li .details.nopic h1{ display:block; position:relative; top:0px; padding:17px 20px; border-bottom:1px solid #dbdbdb; }
		.imglist ul li .details.nopic h1 span{ color:#333; }
	.imglist ul li .details.nopic .remark{ display:block; margin:10px 15px; padding:0; height:140px; color:#666; font-size:12px; line-height:20px; text-overflow:ellipsis; overflow:hidden; }

/*生成静态列表样式*/
.build-box{ margin:0; padding:0; width:290px; height:140px; font-size:12px; text-align:left; overflow:auto; }
	.build-box .xlist{ line-height:1.8em; }
	.build-box .xlist span{ margin-right:5px; font-weight:bold; }
	.build-box .xlist .suc{ color:#060; }
	.build-box .xlist .error{ color:#F00; }
/* ==========================列表页样式.结束======================== */

/* ==========================编辑页样式.开始======================== */
/*Tab选项卡*/
.content-tab-wrap{ height:42px; }
.content-tab{ z-index:3; left:15px; right:15px; height:41px; background:#fff; border-bottom:1px solid #e2e2e5; }
	.content-tab-ul-wrap{ position:relative;}
	.content-tab ul{ position:absolute; left:0; top:10px; }
	.content-tab ul li{ position:relative; display:block; float:left; margin-right:-1px; }
	.content-tab ul li a{ float:left; padding:0 25px; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1; height:30px; line-height:31px; font-size:12px; color:#333; text-align:center; background:#f9f9f9; }
	.content-tab ul li a:hover{ color:#2A72C5; text-decoration:none; }
	.content-tab ul li a.selected{ color:#222; background:#fff; height:31px; }
/*Tab选项卡内容*/
.div-content{ padding:10px 0; font-size:12px; color:#666; }
	.div-content dl dt{ display:block; float:left; width:130px; text-align:right; color:#333; }
	.div-content dl dd{ margin-left:150px; }
.tab-content{ padding:20px 0; font-size:12px; color:#666; border:1px solid #e1e1e1; border-top:none; }
	.tab-content dl,.div-content dl{ clear:both; display:block; padding:8px 0; line-height:30px; }
	.tab-content dl:after,.div-content dl:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
	.tab-content dl:first-child{ border-top:none; }
	.tab-content dl dt{ display:block; float:left; width:150px; text-align:right; color:#333; }
	.tab-content dl dd{ margin-left:170px; }
	
/*上传样式*/
.upload-box{ position:relative; display:inline-block; height:32px; vertical-align:middle; *display:inline;}
	.upload-box .upload-btn{ display:inline-block; height:30px; border:1px solid #e1e1e1; color:#333; background:#fff; vertical-align:middle; *display:inline; }
	.upload-box .upload-progress{ position:absolute; top:0; left:0; padding:2px 5px; width:115px; height:26px; border:1px solid #d7d7d7; background:#fff; overflow:hidden; }
	.upload-box .upload-progress .txt{ display:block; padding-right:10px; font-weight:normal; font-style:normal; font-size:11px; line-height:18px; height:18px; text-overflow:ellipsis; overflow:hidden; }
	.upload-box .upload-progress .bar{ position:relative; display:block; width:112px; height:4px; border:1px solid #1da76b; }
	.upload-box .upload-progress .bar b{ display:block; width:0%; height:4px; font-weight:normal; text-indent:-99em; background:#28B779; overflow:hidden; }
	.upload-box .upload-progress .close{ position:absolute; display:block; top:1px; right:1px; width:14px; height:14px; text-indent:-99em; background:url(images/skin_icons.png) -112px -168px no-repeat; cursor:pointer; overflow:hidden; }
	
/*图片相册样式*/
.photo-list{ margin:0; padding:10px 0 0 0; }
	.photo-list ul{ margin:0; list-style:none; *display:inline-block; }
	.photo-list ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.photo-list ul li{ float:left; margin-right:10px; text-align:center; *width:139px;}
	.photo-list ul li .img-box{ margin:5px 5px 5px auto; position:relative; width:128px; height:128px; overflow:hidden; border:3px #efefed solid; cursor:pointer; }
	.photo-list ul li .img-box.selected{ border:3px #f60 solid }
	.photo-list ul li .img-box img{ width:128px; height:128px; opacity:1; }
	.photo-list ul li .img-box .remark{ top:106px; left:0px; margin:0; padding:3px 2px; position:absolute; display:block; width:124px; height:122px; overflow:hidden; background:#000; filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5; text-align:left; font-family:"Microsoft Yahei"; }
	.photo-list ul li .img-box .remark:hover{ top:0px; }
	.photo-list ul li .img-box .remark i{ color:#fff; font-style:normal; position:relative; line-height:18px; }
	.photo-list ul li a{ padding-right:1em; }
	
/*附件列表样式*/
.attach-list{ margin:0; padding:10px 0 0 0; }
	.attach-list ul{ margin:0; list-style:none; *display:inline-block; }
	.attach-list ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.attach-list ul li{ position:relative; float:left; margin:0 15px 15px 0; padding:5px 18px 8px 18px; border:1px solid #e1e1e1; box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.2); width:245px; }
	.attach-list ul li .icon{ position:absolute; display:block; top:8px; left:2px; width:14px; height:14px; text-indent:-99em; background:url(images/skin_icons.png) -84px -140px no-repeat; overflow:hidden; }
	.attach-list ul li .del{ position:absolute; display:block; top:0; right:0; width:20px; height:20px; text-indent:-99em; background:url(images/skin_icons.png) -109px -165px no-repeat; cursor:pointer; overflow:hidden; }
	.attach-list ul li .edit{ position:absolute; display:block; bottom:6px; right:5px; width:20px; height:20px; text-indent:-99em; background:url(images/skin_icons.png) -137px -109px no-repeat; cursor:pointer; overflow:hidden; }
	.attach-list ul li .title{ display:block; margin-bottom:3px; border-bottom:1px solid #ccc; line-height:24px; height:26px; font-weight:bold; white-space:nowrap; word-break:break-all; overflow:hidden; }
	.attach-list ul li .info,.attach-list ul li .btns{ display:block; line-height:24px; }
	.attach-list ul li .btns input{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; width:40px; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }
	
/*表格样式*/
.border-table{ border-width:1px; margin:0; background:#fff; }
	.border-table th{ margin:0; padding:2px 10px; line-height:26px; height:28px; border:1px solid #e1e1e1; vertical-align:middle; white-space:nowrap; word-break:keep-all; }
	.border-table td{ margin:0; padding:2px 10px; line-height:26px; height:28px; border:1px solid #e1e1e1; vertical-align:middle; white-space:nowrap; word-break:keep-all; }
	.border-table td input{ vertical-align:middle; }
	.border-table td .position{ position:relative; min-height:100%; }
	.border-table td .ibtn{ position:absolute;top:0; right:-7px; background:#cc; border:none; color:#666; cursor:pointer; font-family:"Microsoft Yahei"; font-size:12px; height:25px; line-height:25px; padding:0 12px; }
	.border-table td .ibtn:hover{ color:#fff; background:#FF9C30; }
	.border-table thead th{ color:#333; font-weight:normal; white-space:nowrap; text-align:center; background:#f9f9f9; }
	.border-table tbody th{padding-right:5px; text-align:right;color:#707070;background-color:#f9f9f9}
	.border-table tr.td_c td{ text-align:center; }
	.border-table td .cbllist input{ vertical-align:middle; }
	.border-table td .cbllist label{ margin-right:5px; vertical-align:middle; }
	.border-table td .folder-open{ display:inline-block; margin-right:2px; width:20px; height:20px; background:url(images/skin_icons.png) -40px -196px no-repeat; vertical-align:middle; text-indent:-999em; }
	.border-table td .folder-line{display:inline-block; margin-right:2px; width:20px; height:20px; background:url(images/skin_icons.png) -80px -196px no-repeat; vertical-align:middle; text-indent:-999em; }

/*订单状态样式*/
.order-flow{ margin:0 auto; padding:0; font-size:12px; font-weight:normal; padding-bottom:4px; }
    .order-flow-left, .order-flow-arrive, .order-flow-wait, .order-flow-right-arrive, .order-flow-right-wait{ margin:0; padding:0; background: url(../common/order_speed.gif) no-repeat scroll 0 0; float:left; font-family:Arial; line-height:16px; text-align:center; width:140px; }
    .order-flow div span{ margin:0; padding:0; background:none repeat scroll 0 0 #fff; display:block;}
    .order-flow div span p{ margin:0; padding:0; }
    .order-flow .name { margin:0; padding:0 0 4px 0; }
    .order-flow-arrive { background-position: 0 -40px; }
    .order-flow-wait{ background-position:0 -20px; color:#878787; }
    .order-flow-right-arrive{ background-position: 0 -80px; }
    .order-flow-right-wait{ background-position:0 -60px; color:#878787; }
    .order-flow-input{ display:block; margin:2px auto; padding:0; width:18px; height:18px; text-indent:-999px; cursor:inherit; overflow:hidden;}

/*按钮样式*/
.td-input{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }
.btn{ background:#16a0d3; border:none; color:#fff; cursor:pointer; display:inline-block; font-family:"Microsoft Yahei"; font-size:12px; height:32px; line-height:32px; margin:0 1px 0 0; padding:0 20px; }
	.btn:hover{ background:#117ea6; }
	.btn.green{ background:#52A152; }
	.btn.green:hover{ background:#328032; }
	.btn.yellow{ background:#FF9C30;}
	.btn.yellow:hover{ background:#c87316; }
	.btn.violet{ background:#993333 ; }
	.btn.violet:hover{ background:#990033; }
.icon-btn{ display:inline-block; margin:0; padding:4px 10px 4px 8px; line-height:20px; height:20px; border:solid 1px #e1e1e1; color:#333; font-size:12px; text-decoration:none; cursor:pointer; }
	.icon-btn:hover{ color:#2A72C5; }
	.icon-btn span{ display:inline-block; vertical-align:middle; }
	.icon-btn i{ display:inline-block; margin-right:3px; width:14px; height:14px; text-indent:-9999em; background:url(images/skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; }
	.icon-btn.add i{ background-position:0 -28px; }
.img-btn{ display:inline-block; margin:0 2px; width:14px; height:14px; text-indent:-99em; text-decoration:none; background:url(images/skin_icons.png) no-repeat; vertical-align:middle; cursor:pointer; overflow:hidden; }
	.img-btn.edit{ background-position:-140px -112px; }
	.img-btn.del{ background-position:-84px -28px; }
/*多项单选*/
.multi-radio{ display:inline-block; vertical-align:middle; *display:inline; }
	.multi-radio:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-radio .boxwrap{ display:inline-block; vertical-align:middle; *display:inline;}
	.multi-radio a{ display:inline-block; margin-right:-1px; float:left; padding:5px 15px; height:20px; line-height:20px; border:1px solid #d4d4d4; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; }
	.multi-radio a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-radio a:active{ text-decoration:none; }
	.multi-radio a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
/*单项选择*/
.single-checkbox{ display:inline-block; vertical-align:middle; cursor:pointer; *display:inline; }
	.single-checkbox a,.single-checkbox a:visited{ display:inline-block; border:1px solid #d4d4d4; background:#d4d4d4; width:80px; vertical-align:middle; text-decoration:none; }
	.single-checkbox a i{ display:block; width:50%; height:28px; line-height:28px; font-style:normal; background:#fff; color:#333; text-align:center; }
	.single-checkbox a i.on{ float:right; display:none; }
	.single-checkbox a i.off{ float:left; display:block; }
	.single-checkbox a.selected{ border:1px solid #16a0d3; background:#16a0d3; }
	.single-checkbox a.selected i.on{ display:block; }
	.single-checkbox a.selected i.off{ display:none; }
/*多项选择*/
.multi-checkbox{ display:inline-block; vertical-align:middle; }
	.multi-checkbox:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-checkbox .boxwrap{ display:inline-block; vertical-align:middle; }
	.multi-checkbox a{ display:inline-block; float:left; margin-right:-1px; padding:5px 15px; height:20px; line-height:20px; border:1px solid #d4d4d4; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; }
	.multi-checkbox a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-checkbox a:active{ text-decoration:none; }
	.multi-checkbox a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
	.multi-checkbox a:last-child{ /*border-right:1px solid #d4d4d4;*/ }
/*多项选择PORP*/
.multi-porp{ }
	.multi-porp ul li{ float:left; position:relative; margin:0 8px 8px 0; padding:1px; line-height:20px; vertical-align:middle; }
	.multi-porp ul li a{ display:block; padding:4px 10px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; white-space:nowrap; border:1px solid #ccc; cursor:pointer; }
	.multi-porp ul li i{ display:none; position:absolute; right:0; bottom:0; width:12px; height:12px; text-indent:-99em; background:url(images/skin_icons.png) -169px -85px no-repeat; overflow:hidden; }
	.multi-porp ul li.sys{ background:#FFFFD0; }
	.multi-porp ul li.selected a{ margin:-1px; color:#333; border:2px solid #1e99c7; }
	.multi-porp ul li.selected i{ display:block; background-position:-169px -113px; }
/*下拉菜单*/
.single-select{ position:relative; display:inline-block; margin-right:5px; vertical-align:middle; cursor:pointer; *float:left; }
	.single-select .boxwrap{ display:inline-block; vertical-align:middle; }
	.single-select .select-tit{ position:relative; display:block; padding:5px 38px 5px 10px; min-width:40px; line-height:20px; height:20px; border:solid 1px #dbdbdb; text-decoration:none; background:#fff; white-space:nowrap; word-break:break-all; }
	.single-select .select-tit span{ display:inline-block; color:#333; font-size:12px; vertical-align:middle; }
	.single-select .select-tit i{ position:absolute; right:0; top:0; display:block; width:28px; height:100%; border-left:1px solid #dbdbdb; background:url(images/skin_icons.png)  -49px -160px no-repeat #fafafa; }
	.single-select .select-items{ display:none; position:absolute; left:0; top:45px; /*overflow:hidden;*/ }
	.single-select .select-items ul{ position:relative; padding:5px; min-width:120px; max-height:280px; border:1px solid #dbdbdb; background:#fff; overflow-y:auto; overflow-x:hidden; }
	.single-select .select-items ul li{ display:block; padding:4px 10px; line-height:20px; font-size:12px; color:#666; white-space:nowrap; cursor:pointer; }
	.single-select .select-items ul li:hover{ color:#fff; text-decoration:none; background:#16a0d3; }
	.single-select .select-items ul li.selected{ color:#FFF; background:#16a0d3; }
	.single-select .arrow{ display:none; position:absolute; left:15px; top:35px; width:21px; height:11px; text-indent:-9999px; background:url(images/skin_icons.png) -40px -356px no-repeat; }

.page-footer{ padding:10px 0; height:32px; }
	.page-footer:after{ clear:both;content:".";display:block;height:0;visibility:hidden; }
	.page-footer .btn-list{ position:fixed; padding:10px 0; left:15px; right:15px; bottom:0; z-index:3; background:#fff; }
	/*.page-footer .btn-list .absbg{ position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; filter:alpha(opacity=80); opacity:0.8; }*/
/* ==========================编辑页样式.结束======================== */

/*=====================以下部分是Validform必须的====================*/
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px; }
.Validform_right{ color:#71b83d; padding-left:20px; background:url(valid_icons.png) no-repeat -40px -20px; }
.Validform_wrong{ color:red; padding-left:20px; white-space:nowrap; background:url(images/valid_icons.png) no-repeat -20px -40px; }
.Validform_loading{ padding-left:20px; background:url(images/icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }

#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{ position:absolute; left:0px; top:-1px; z-index:-1; }
#Validform_msg .Validform_title{ position:relative; line-height:35px; height:35px; text-align:left; font-weight:bold; padding:0 10px; color:#fff; background:#33B5E5; }
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{ line-height:30px; position:absolute; right:10px; top:0px; color:#fff; text-decoration:none; }
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:10px;border:1px solid #bbb; border-top:none; text-align:left;}
/*=====================以上部分是Validform必须的====================*/


.none {
display:none !important;
}
