@charset "utf-8";
/* CSS Document */
/*================管理首页布局.开始===================*/
.header{ position:fixed; top:0; right:0; width:100%; height:42px; z-index:11; }
.header-box{ margin:0 auto; min-width:780px; }
.main-sidebar{ position:absolute; top:42px; bottom:0; left:0; width:180px; }
.sidebar-nav{ position:absolute; top:0px; bottom:0; left:0; width:180px; padding-right:1px; }
.main-container{ position:absolute; top:42px; right:0; bottom:0; left:181px; margin-left:20px; }
	.main-container iframe{ position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; }
/*================管理首页布局.结束===================*/
