
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Slickflow Modeling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="padding: 20px;">
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">

        </div>
    </div>

    

    <script type="text/javascript">

    </script>

    <script type="text/javascript">

    </script>
</body>
</html>
