<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="WfDBConnectionString" 
         connectionString="Data Source=114.215.190.71,5697;Initial Catalog=WfDB;Integrated Security=False;User ID=wfadmin;Password=zaqxswcde;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WorkflowFileStorage" value="localfile"/>
    <add key="WorkflowFileServer" value="c:\\XML\\"/>
  </appSettings>
</configuration>
