<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gateway节点属性定义</title>
    <script type="text/javascript" src="AppJS/gatewayproperty.js"></script>
    <script type="text/javascript">
        $(function () {
            var node = $("#gateway-property-controller").scope().$$childHead.currentSelectedNode;

            if (node) {
                //fill activity basic information
                $("#txtDescription").val(node.data.description);
                if (node.data.gatewaySplitJoinType) {
                    var splitJoinType = node.data.gatewaySplitJoinType;
                    $("#ddlGatewayType").val(splitJoinType);
                    if (node.data.gatewayDirection) {
                        gatewayManager.appendDirectionType(splitJoinType);
                        $("#ddlDirectionType").val(node.data.gatewayDirection);
                    }
                }
            }

            $("#ddlGatewayType").change(function () {
                var splitJoinType = $("#ddlGatewayType").val();
                gatewayManager.appendDirectionType(splitJoinType);
            });
        });

        function onSureClick() {
            gatewayManager.saveGatewayInformation();
        };
    </script>

</head>
<body>
    <div id="gateway-property-controller">
        <div>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" style="width:340px;" /></span>
            </p>
        </div>
        <div>
            <div>
                <p> <span class="a_tit">类型:</span>
                    <select id="ddlGatewayType">
                        <option value="default">--请选择--</option>
                        <option value="Split">分支</option>
                        <option value="Join">合并</option>
                    </select>
                </p>
            </div>
            <div>
                <p>
                    <span class="a_tit">子类型:</span>
                    <select id="ddlDirectionType">
                        <option value="default">--请选择--</option>
                    </select>
                </p>
            </div>
        </div>
        <span class="spanright">
            <input type="button" class="btn" value="确定" onclick="onSureClick()" />
        </span>
    </div>
</body>
</html>
