<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>流程定义记录</title>
    <script type="text/javascript" src="AppJS/processlist.js"></script>
    <script type="text/javascript">
        $(function () {
            var opType = kmain.mopType;

            if (opType == "OPEN") {
                $("#divProcessList").show();
                processManager.getProcessList();
            } else if (opType == "NEW") {
                $("#divProcessList").hide();
            }
        });

        function onUpdateProcess() {
            processManager.updateProcess();
        }

        function onDeleteProcess() {
            processManager.deleteProcess();
        }

        function onCancelClick() {
            kmain.cancelProcessRecord();

            window.parent.$('#divProcessDialog').dialog('close');
        }

        function onSureClick() {
            var opType = kmain.mopType;
            if (opType == "NEW") {
                processManager.createProcess();

            } else {
                window.parent.$('#divProcessDialog').dialog('close');
            }
        }
    </script>
</head>
<body>
    <div id="process-list-controller">
        <div>
            <p>
                <span class="a_tit">流程名称:</span>
                <span><input type="text" id="txtProcessName" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">App标识:</span>
                <span><input type="text" id="txtAppType" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">文件名称:</span>
                <span><input type="text" id="txtProcessFileName" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" style="width:340px;" /></span>
            </p>
        </div>
        <div id="divProcessList">
            <div style="float:left;">
                <b class="icoBtn btnSave" title="保存" onclick="onUpdateProcess();"></b>
                <b class="icoBtn btnDel" title="删除" onclick="onDeleteProcess();"></b>
            </div>
            <div id="myGridProcess" class="grid-container" style="width:100%;height:200px;float:left;"></div>
        </div>

        <span class="spanright">
            <input type="button" value="确定" class="btn" onclick="onSureClick();" />
            <input type="button" value="取消" class="btn" onclick="onCancelClick();" />
        </span>
    </div>
</body>
</html>