<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>子流程定义</title>
    <script type="text/javascript" src="AppJS/subprocessmanager.js"></script>
    <script type="text/javascript">
        $(function () {
            var node = kmain.currentSelectedDomElement.node;

            if (node !== null) {
                $("#txtProcessGUID").val(node.sdata.subId);

                subprocessmanager.getProcess(node.sdata.subId);
            }

            subprocessmanager.getProcessList();
        })

        function onChangeClick() {
            subprocessmanager.changeSubProcess();
        }

        function onSaveClick() {
            subprocessmanager.saveSubProcess();
        }
    </script>
</head>
<body>
    <div id="process-list-controller">
        <div>
            <p>
                <span class="a_tit">子流程GUID:</span>
                <span><input type="text" id="txtProcessGUID" style="width:340px;" /></span>
                <span class="a_tit">子流程名称:</span>
                <span><input type="text" id="txtProcessName" style="width:340px;" /></span>
            </p>
        </div>
        <div>
            <b class="icoBtn btnNew" onclick="onChangeClick();"></b>
        </div>
        <div id="myGridSubProcess" class="grid-container" style="width:100%;height:260px;"></div>
        <span class="spanright">
            <input type="button" class="btn" value="确定" onclick="onSaveClick()" />
        </span>
    </div>
</body>
</html>
