<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>转移属性定义</title>
    <script type="text/javascript">
        $(function () {
            var line = kmain.currentSelectedDomElement.line;
            
            if (line) {
                $("#txtDescription").val(line.sdata.description);
                if (line.sdata.condition)
                    $("#txtCondition").val(line.sdata.condition.text);
            }
        });

        function onSureClick() {
            var description = $("#txtDescription").val();
            var condition = {};
            condition.type = "Expression";
            condition.text = $("#txtCondition").val();

            var line = window.parent.$("#divTransitionDialog").data("line");

            line.sdata.description = description;
            line.sdata.condition = condition;

            window.parent.$('#divTransitionDialog').dialog('close');
        };

    </script>
</head>
<body>
    <div id="transition-property-controller">
        <p>
            <span class="a_tit">描述:</span>
            <span><input type="text" id="txtDescription" style="width:340px;" /></span>
        </p>
        <p>
            <span class="a_tit">条件表达式:</span>
            <span><textarea id="txtCondition" class="bcxj" style="height:200px;" ></textarea></span>
        </p>
        <p>
            <span class="spanright">
                <input type="button" class="btn" value="确定" onclick="onSureClick()" />
            </span>
        </p>
    </div>
</body>
</html>
