<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>流程XML定义内容</title>
    <script type="text/javascript">
        $(function () {
            var xmlContent = kmain.currentXmlContent;

            if (xmlContent) {
                $("#txtXmlContent").text(xmlContent);
            }
        });

        function onSureClick() {
            window.parent.$('#divXmlContentDialog').dialog('close');
        };

    </script>
</head>
<body>
    <div id="xmlcontent-controller">
        <p>
            <span class="a_tit" style="text-align:left;">XML内容:</span>
        </p>
        <p>
            <span>
                <textarea id="txtXmlContent" style="width:640px;height:380px;"></textarea>
            </span>
        </p>
        <p>
            <span class="spanright">
                <input type="button" class="btn" value="确定" onclick="onSureClick()" />
            </span>
        </p>
    </div>
</body>
</html>
