<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <add name="WfDBConnectionString"
           connectionString="Data Source=.;Initial Catalog=SlickflowMvcDemo;Integrated Security=False;User ID=sa;Password=sa2012;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
           providerName="System.Data.SqlClient"/>  </connectionStrings>
  <appSettings>
    <add key="WorkflowFileServer" value="d:\\"/>
  </appSettings>
</configuration>
