
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Content/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-theme-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-progressbar-3.3.4.min.css" />

    <link rel="stylesheet" href="~/Content/ag-grid/ag-grid.css" />
    <link rel="stylesheet" href="~/Content/ag-grid/theme-bootstrap.css" />

    <link rel="stylesheet" href="~/Content/graphCanvas.css" />
    <link rel="stylesheet" href="~/Content/msgBoxLight.css" />

</head>
<body>
    <div class="modal-body">
        <div class="tab-content">
            <div class="row">
                <p>
                    <span class="a_tit lang" as="variablename"></span>
                    <span><input class="form-control" id="txtVariableName" type="text" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit lang" as="variabletype"></span>
                    <span>
                        <select class="form-control ctrl-combobox" id="ddlVariableType" style="width:340px;">
                            <option value="Process" class="lang" as="processvariabletype"></option>
                            <option value="Activity" class="lang" as="activityvariabletype"></option>
                        </select>
                    </span>
                </p>
                <p>
                    <span class="a_tit lang" as="variablevalue"></span>
                    <span> <input class="form-control" id="txtVariableValue" type="text" style="width:340px;" /></span>
                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary lang" as="sure" onclick="kvariable.save();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
    </div>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            kvariable.load();
        });
    </script>
</body>
</html>
