
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Slickflow 流程模型创建</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        p {
            margin: 10px;
        }
    </style>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <b class="icoBtn btnNew" onclick="kvariable.insert();"></b>
            <b class="icoBtn btnEdit" onclick="kvariable.update();"></b>
            <div id="myProcessVariableGrid" class="ag-bootstrap" style="width:100%;height:300px;float:left;"></div>
            <img src="~/Content/images/ajax-loader.gif" id="loading-indicator" style="position: fixed; left: 40%; top: 40%; display: none;" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn lang" data-dismiss="modal" aria-hidden="true" as="close"></button>
        <button class="btn btn-danger lang" as="delete" onclick="kvariable.delete();"></button>
    </div>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            kvariable.getVariableList();
        });
    </script>
</body>
</html>
