.Wdate { border: #b1ceef 1px solid; width: 120px; height: 18px; background: #FFFFFF url(datePicker.gif) 2px center no-repeat; padding-left:20px;cursor:pointer}

.WdateFmtErr { font-weight: bold; color: red; }
