<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!-- 自定义错误页面配置 -->
    <customErrors mode="On" defaultRedirect="maintenance.html">
      <error statusCode="404" redirect="maintenance.html"/>
      <error statusCode="500" redirect="maintenance.html"/>
      <error statusCode="503" redirect="maintenance.html"/>
    </customErrors>
  </system.web>
  
  <!-- IIS 7+ 自定义错误页面配置 -->
  <system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="File" defaultPath="maintenance.html">
      <remove statusCode="404"/>
      <error statusCode="404" path="maintenance.html" responseMode="File"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="maintenance.html" responseMode="File"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="maintenance.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
</configuration>