
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pool</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <p>
                <span class="a_tit lang" as="pooltitle"></span>
                <span><input type="text" id="txtPoolTitle" class="form-control" style="width:340px;"/></span>
            </p>
            <div id="divBindingProcess">
                <p>
                    <span class="a_tit lang" as="processtype"></span>
                    <select id="ddlPackageType" class="form-control" style="width:340px;">
                        <option value="default" class="lang" as="optiondefault"></option>
                        <option value="MainProcess" class="lang" as="mainprocess"></option>
                        <option value="PoolProcess" class="lang" as="poolprocess"></option>
                    </select>
                </p>
                <p>
                    <span class="a_tit lang" as="processguid"></span>
                    <span><input type="text" id="txtProcessGUID" class="form-control" style="width:340px;" readonly="readonly" /></span>
                </p>
                <p>
                    <span class="a_tit control-label lang" as="processname"></span>
                    <span><input type="text" id="txtProcessName" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit control-label lang" as="processcode"></span>
                    <span><input type="text" id="txtProcessCode" class="form-control" style="width:340px;" /></span>
                </p>
                <p>
                    <span class="a_tit lang" as="description"></span>
                    <span><input type="text" id="txtProcessDescription" class="form-control" style="width:340px;" /></span>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary lang" as="save" onclick="poolproperty.savePool();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <script type="text/javascript">
        $(function () {
            kresource.localize();
            poolproperty.loadPool();
        })
    </script>
</body>
</html>
