@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>流程属性编辑</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div>
            <p>
                <span class="a_tit">流程GUID:</span>
                <span><input type="text" id="txtProcessGUID" class="form-control" style="width:340px;" readonly="readonly"/></span>
            </p>
            <p>
                <span class="a_tit">流程名称:</span>
                <span><input type="text" id="txtProcessName" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit">版本标识:</span>
                <span><input type="text" id="txtVersion" class="form-control" style="width:340px;" value="1"/></span>
            </p>
            <p>
                <span class="a_tit">使用状态:</span>
                <select id="ddlIsUsing" name="isusing" class="form-control" style="width:180px;" class="ctrl-combobox">
                    <option value="1" selected>使用</option>
                    <option value="0">未使用</option>
                </select>
            </p>
            <p>
                <span class="a_tit">描述:</span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" onclick="processlist.saveProcess();">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
    <script type="text/javascript">
        $(function () {
            processlist.loadProcess();
        })
    </script>
</body>
</html>