@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Process Edit</title>
    <style type="text/css">
        h4 {
            margin: 20px 10px 10px;
        }

        p {
            margin: 10px;
        }

        #carousel-example-generic {
            margin: 10px auto;
            width: 500px;
            height: 160px;
        }

        .carousel-indicators li {
            background-color: orange
        }

        .carousel-indicators .active {
            background-color: forestgreen
        }

        .carousel-item-select {
            border: 1px solid red;
        }

        .carousel-caption {
            top: -20px;
            bottom: auto;
        }

        .carousel-caption-title{
            background-color:dodgerblue;
        }

        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }
    </style>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="hideme"><a href="#info" role="tab" data-toggle="tab" id="tabInfo" class="lang" as="processinfo"></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="info">
                <div class="row form-group required">
                    <p>
                        <span class="a_tit lang" as="processguid"></span>
                        <span><input type="text" id="txtProcessGUID" class="form-control" style="width:340px;" readonly="readonly" /></span>
                    </p>
                    <p>
                        <span class="a_tit control-label lang" as="processname"></span>
                        <span><input type="text" id="txtProcessName" class="form-control" style="width:340px;" /></span>
                    </p>
                    <p>
                        <span class="a_tit control-label lang" as="processcode"></span>
                        <span><input type="text" id="txtProcessCode" class="form-control" style="width:340px;" /></span>
                    </p>
                    <p>
                        <span class="a_tit lang" as="version"></span>
                        <span><input type="text" id="txtVersion" class="form-control" placeholder="1" style="width:340px;" value="1" /></span>
                    </p>
                    <p>
                        <span class="a_tit lang" as="status"></span>
                        <select id="ddlIsUsing" name="isusing" class="form-control ctrl-combobox" style="width:180px;">
                            <option value="1" selected class="lang" as="active"></option>
                            <option value="0" class="lang" as="unactive"></option>
                        </select>
                    </p>
                    <p>
                        <span class="a_tit lang" as="description"></span>
                        <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary lang" as="save" onclick="processlist.saveProcess();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <script type="text/javascript">
        $(function () {
            kresource.localize();
            processlist.loadProcess();
            $(".carousel-inner>.item").on("click", function () {
                $.each($(".carousel-inner>.item"), function (o, e) {
                    $(this).removeClass("carousel-item-select");
                });
                $(this).addClass("carousel-item-select");
                processlist.mprocessTemplateType = $(this).data("template");
            });
        })
    </script>
</body>
</html>