@{
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

@*<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/ui/jquery-ui.css" />*@
<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/slick.grid.css" />
<style type="text/css">
    .ui-state-default {
        background-color: #bec3c7 !important;
        border: 1px solid #22bacf !important;
        border-radius: 0% !important;
    }

    .percent-complete-bar {
        display: inline-block;
        height: 6px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

    .slick-header *, *:before, *.after {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
</style>

 <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    @*<header class="panel-heading">
                        Default Buttons
                    </header>*@
                    <div class="panel-body">
                        <button type="button" class="btn btn-inverse" rescode="SfDemo.Made.POrder.SyncOrder" onclick="porderManager.syncorder();">同步</button>
                        <button type="button" class="btn btn-success" rescode="SfDemo.Made.POrder.Dispatch" onclick="porderManager.dispatch();">派单</button>
                        <button type="button" class="btn btn-primary" rescode="SfDemo.Made.POrder.Sample" onclick="porderManager.sample();">打样</button>
                        <button type="button" class="btn btn-info" rescode="SfDemo.Made.POrder.Manufacture" onclick="porderManager.manufacture();">生产</button>
                        <button type="button" class="btn btn-inverse" rescode="SfDemo.Made.POrder.QCCheck" onclick="porderManager.qccheck();">质检</button>
                        <button type="button" class="btn btn-warning" rescode="SfDemo.Made.POrder.Weight" onclick="porderManager.weight();">称重</button>
                        <button type="button" class="btn btn-danger" rescode="SfDemo.Made.POrder.Delivery" onclick="porderManager.delivery();">发货</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        生产订单数据
                    </header>
                    <div class="panel-body">
                        <div id="myGridProductOrder" style="width:100%;height:300px;"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        流转日志数据
                        <div style="height:10px;">
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
                        </div>
                    </header>
                    <div class="panel-body">
                        <div id="myGridAppFlow" style="width:50%;height:200px;"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        流程操作说明
                        <div style="height:10px;">
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
                        </div>
                    </header>
                    <div class="panel-body">
                        <span>
                            <p>1. Demo是模拟一个电商商品订单流程，大致介绍如下：</p>

                            <p>
                                1) 同步：即将网上订单数据同步到内部订单系统，执行角色是业务员；<br />
                                2) 派单：即由业务员打单，分单；执行角色是业务员；<br />
                                3) 打样的执行角色是打样员；<br />
                                4) 生产的执行角色是跟单员；<br />
                                5) 质检的执行角色是质检员；<br />
                                6) 称重和发货的执行角色都是包装员。
                            </p>

                            <p>
                                2. 界面按钮有权限控制，按照不同角色下的用户登录，进行相应的操作。<br />
                                3. 实现流程启动，运行，跳转，条件分支，任务分发等功能。
                            </p>

                        </span>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>



<script type="text/javascript" src="/MvcDemo/Scripts/jquery-2.0.2.js"></script>
@*<script type="text/javascript" src="/MvcDemo/Scripts/jquery-ui-1.10.3.min.js"></script>*@
<script type="text/javascript" src="/MvcDemo/Scripts/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/slickgrid/slick.grid.all.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/slickgrid/slick.dataview.js"></script>
<script type="text/javascript" src="/MvcDemo/AppJS/POrder/pordermanager.js"></script>

<script type="text/javascript">
    $(function () {
        porderManager.getProductOrderList();

        porderManager.checkUserPermission();
    });
</script>