<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OSSBucket" value="wallwatest"/>
    <add key="WorkflowFileStorageType" value="localfile"/>
    <add key="WorkflowFileServer" value="c:\\xml\\"/>
  </appSettings>
  <connectionStrings>
    <add name="WfDBConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=WfDB;Integrated Security=False;User ID=sa;Password=sasa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
