<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Slickflow Designer</title>
    <link rel="stylesheet" type="text/css" href="Content/ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="Content/main.css" />
	<link rel="stylesheet" type="text/css" href="Content/splitter.css" />
    <link rel="stylesheet" type="text/css" href="Content/app.css" />
    <link rel="stylesheet" type="text/css" href="Content/slick.grid.css" />
</head>
<body ng-app='canvasApp'
      ng-controller='canvasCtrl'
      mouse-capture
      ng-keydown='keyDown($event)'
      ng-keyup='keyUp($event)'
      style="position: absolute"
      id="canvas-controller">
    <div class="ui-layout-north">
        <div style="margin-left: 10px;">
            <button ng-click="loadProcess()"
                    title="Load process"
                    class="btn-small">
                打开
            </button>
            <button ng-click="saveProcessFile()"
                    title="Save Process"
                    class="btn-small">
                保存
            </button>
        </div>
    </div>

    <div id="leftPane" class="ui-layout-west">
        <svg id="svgPanel" width="160" height="100%">
            <circle element="StartNode" class="draggable" cx="40" cy="30" r="20" style="fill:palegreen;stroke:yellowgreen;stroke-width:2;" />
            <circle element="EndNode" class="draggable" cx="120" cy="30" r="20" style="fill:rosybrown;stroke:brown;stroke-width:2;" />
            <rect element="TaskNode" class="draggable" x="10" y="80" rx="10" ry="10" width="60" height="40"
                  style="fill:white;stroke:steelblue;stroke-width:2;" />
            <path element="GatewayNode" class="draggable" d="M120,70 l30,30 l-30,30 l-30,-30 l30,-30"
                  style=" fill: white; stroke: steelblue; stroke-width: 2; fill-rule: nonzero; " />
        </svg>
    </div>

    <div id="rightPane" class="ui-layout-center">
        <!--K-graph defines the flow chart.-->
        <k-graph style="margin: 5px; width: 100%; height: 100%;"
                 graph="graphView">
                <!--graphView is set in the scope variable in the app.js.-->
        </k-graph>
    </div>

    <!--process definition data-->
    <div id="divProcessDialog" ng-keyup="processDialogKeyUp($event)"></div>

    <!--activity definition data-->
    <div id="divActivityDialog" ng-keyup="activityDialogKeyUp($event)"></div>

    <!--transition definition data-->
    <div id="divTransitionDialog" ng-keyup="transitionDialogKeyUp($event)"></div>   
    <div id="spinner" class="spinner" style="display:none;">
        <img id="img-spinner" src="Content/images/ajax-loader.gif" alt="Loading" />
    </div>

    <script type="text/javascript" src="Scripts/jquery-2.0.2.js"></script>

    <script type="text/javascript" src="Scripts/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery.layout-latest.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="Scripts/angular-1.2.14.js"></script>
    <script type="text/javascript" src="Scripts/angular-sanitize.js"></script>
    <script type="text/javascript" src="Scripts/angular-mocks.js"></script>
    <script type="text/javascript" src="Scripts/jshelper.js"></script>
    <script type="text/javascript" src="Scripts/XMLWriter-1.0.0-min.js"></script>

    <script type="text/javascript" src="AppJS/krender.js"></script>
    <script type="text/javascript" src="AppJS/kgraphview.js"></script>
    <script type="text/javascript" src="AppJS/kgraphdirective.js"></script>
    <script type="text/javascript" src="AppJS/dragging_service.js"></script>
    <script type="text/javascript" src="AppJS/mouse_capture_service.js"></script>
    <script type="text/javascript" src="AppJS/svg_class.js"></script>
    <script type="text/javascript" src="AppJS/processservice.js"></script>
    <script type="text/javascript" src="AppJS/app.js"></script>

    <script type="text/javascript" src="Scripts/slickgrid/slick.grid.all.js"></script>
    <script type="text/javascript" src="Scripts/slickgrid/slick.dataview.js"></script>

    <script type="text/javascript">
        $(function () {
            //angular.element("#canvas-controller").scope().hello();
            $('body').layout({
                applyDemoStyles: false
            });

            //progress spinner loading...
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
        });
    </script>
</body>
</html>
