<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/bootstrap/bootstrap-progressbar-2.3.1.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/slickgrid/slick.grid.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/slickgrid/slickgrid-example.css" rel="stylesheet" />
    <link href="~/Content/ztree/metro.css" rel="stylesheet" />
    <link href="~/Content/msgBoxLight.css" rel="stylesheet" />
    <link href="~/Content/master.css" rel="stylesheet" />

    <title>
        Product Order Page
    </title>
    <style id="content-styles">
        .percent-complete-bar {
            display: inline-block;
            height: 6px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="container-fluid">
                    <!-- Function Button -->
                    <div class="row-fluid">
                        <div class="top-nav ">
                            <a href="#" class="btn btn-info" onclick="pordermanager.syncorder();"><i class="icon-white icon-ok"></i> Sync Order</a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('dispatch');">
                                <i class="icon-white icon-user"></i>Dispatch
                            </a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('sample');"><i class="icon-white icon-print"></i> Sample</a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('manufacture');"><i class="icon-white icon-cog"></i> Manufature</a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('qccheck');"><i class="icon-white icon-zoom-in"></i> QCCheck</a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('weight');"><i class="icon-white icon-shopping-cart"></i> Weight</a>
                            <a href="#" class="btn btn-info" onclick="pordermanager.runAppFlow('delivery');"><i class="icon-white icon-plane"></i> Delivery</a>
                            <a href="#" onclick="sfmain.showKGraph();" class="btn btn-success">
                                <i class="icon-white icon-picture"></i> FlowChart
                            </a>

                            <!--search & user info start-->
                            <ul class="nav pull-right top-menu">
                                <!-- user login dropdown start-->
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <img alt="" src="~/Content/img/avatar1_small.jpg">
                                        <span class="username" id="spnLogonUser">Unknown User</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu extended logout">
                                        <li>
                                            <a href="~/Account/Login" data-toggle="modal" data-target="#modelLoginForm"
                                               role="dialog" id="btnLogount" onclick="onUserLogout();">
                                                <i class="fa fa-key"></i> Login Again
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- user login dropdown end -->
                            </ul>
                            <!--search & user info end-->
                        </div>
                    </div>

                    <!-- Main Data -->
                    <div class="row-fluid">
                        <legend>
                            Product Order
                            <select id="ddlStatus">
                                <option value="-1">--Please Choose--</option>
                                <option value="1">Ready</option>
                                <option value="2">toDispatch</option>
                                <option value="3">toSample</option>
                                <option value="4">toManufacture</option>
                                <option value="5">toQCCheck</option>
                                <option value="6">toWeight</option>
                                <option value="7">Completed</option>
                            </select>
                            <input type="button" value="Query" onclick="pordermanager.queryByStatus();" />
                            <span id="divCondition" style="display:none">
                                <span style="font-size:small"> Choose Condition：</span>
                                <input type="checkbox" id="chkStorage" /><span style="font-size:small">Inventory?</span>
                                <input type="checkbox" id="chkWeight" /><span style="font-size:small">Weight?</span>
                            </span>
                        </legend>
                    </div>
                    <div class="row-fluid">
                        <div id="myGridProductOrder" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                <legend>Flow Data</legend>
                <!-- Process backlog and flow log-->
                <div class="row-fluid">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tabReadyActivityInstance" data-toggle="tab">
                                ToDo Task
                            </a>
                        </li>
                        <li><a href="#tabAppFlowLog" data-toggle="tab">AppFlow Log</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="tabReadyActivityInstance">
                            <div class="row-fluid">
                                <div id="myGridReadyActivityInstance" style="width:1200px;height:300px;"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabAppFlowLog">
                            <div class="row-fluid">
                                <div id="myGridAppFlow" style="width:400px;height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <legend>UI operation instructions</legend>
                <!-- Process operation instructions -->
                <div class="row-fluit">
                    <div class="span12">
                        <p>1.  Demo is a simulation of an e-commerce product order process, roughly introduced as follows:</ p>

                        <p>
                            1) Synchronization: The online order data will be synchronized to the internal order system, with the role of the salesperson <br />
                            2) Dispatch: Refers to the process of placing and dividing orders by the salesperson; The executing role is a salesperson <br />
                            3) The executing role of the sample is the sample mate <br />
                            4) The executing role of production is the Merchaandiser <br />
                            5) The executing role of quality inspection is the quality check <br />
                            6) The roles responsible for weighing and shipping are both express mate.
                        </p>

                        <p>
                            2. The interface buttons have permission control, allowing users under different roles to log in and perform corresponding operations <br />
                            3. Implement functions such as process initiation, running, jumping, conditional branching, and task distribution.
                        </p>
                    </div>
                </div>

                <legend>界面操作说明</legend>
                <div class="row-fluit">
                    <div class="span12">
                        <span>
                            <p>1. Demo是模拟一个电商商品订单流程，大致介绍如下：</p>

                            <p>
                                1) 同步：即将网上订单数据同步到内部订单系统，执行角色是业务员；<br />
                                2) 派单：即由业务员打单，分单；执行角色是业务员；<br />
                                3) 打样的执行角色是打样员；<br />
                                4) 生产的执行角色是跟单员；<br />
                                5) 质检的执行角色是质检员；<br />
                                6) 称重和发货的执行角色都是包装员。
                            </p>

                            <p>
                                2. 界面按钮有权限控制，按照不同角色下的用户登录，进行相应的操作。<br />
                                3. 实现流程启动，运行，跳转，条件分支，任务分发等功能。
                            </p>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- beginning of Modal HTML Page-->
    <div id="modelLoginForm" class="modal hide eavModalDialog" style="width:360px;height:400px;">
        <div class="modal-dialog">
            <!-- Modal -->
            <div class="modal-body">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>

    <div id="modelNextStepForm" class="modal hide eavModalDialog" style="width:400px;height:500px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Please choose next step user</h3>
        </div>
        <div class="modal-body" style="width:300px;height:320px;">
            <ul id="nextStepTree" class="ztree" style="overflow:auto;"></ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="nextactivitytree.sure();">Sure</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>

    <!--Progress Bar-->
    <div class="modal js-loading-bar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="bar" data-transitiongoal="75"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="~/Scripts/slickgrid/slickgrid.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slickgrid/slick.formatters.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/handlebars.js"></script>
    <script type="text/javascript" src="~/Scripts/jshelper.js"></script>
    <script type="text/javascript" src="~/Scripts/localhelper.js"></script>

    <script type="text/javascript" src="~/ViewJS/config.js"></script>
    <script type="text/javascript" src="~/ViewJS/sfmain.js"></script>
    <script type="text/javascript" src="~/ViewJS/pordermanager.js"></script>
    <script type="text/javascript" src="~/ViewJS/nextactivitytree.js"></script>

    <script type="text/javascript">
        $(function () {
            lsm.removeTempStorage();

            sfmain.ready();
        })

        function onUserLogout() {
            lsm.removeTempStorage();
        }
    </script>

</body>
</html>
