#accordion {
	width:470px;
	margin:10px;
}

#accordionPanel {
	width:540px;
	margin:10px;
	min-height:622px;
}

#cronexpression {
	width:540px;
	margin:10px;
}

#scheduledDates {
    width: 200px;
    height: 426px;
    margin-top: 10px;
    overflow-y: scroll;
}

.cronExpressionBodyFix {
	height:75px;
}

.BoxTitleText {
	font-size:14pt;
	font-weight:bold;
  vertical-align: top;
}

.cronExpressionText {
	font-size:14pt;	
	font-weight:bold;
	text-overflow: ellipsis;
	width: 313px;
	white-space: nowrap;
	overflow: hidden;
}

.accordionElTitle {
	font-size:12pt;
	font-weight:bold;
}

.accordionTitleText {
  min-width:150px;
  max-width:150px;
  width:150px;
    display:inline;
}

.btnGroupCronExpression {
  padding-left:10px;
}

.glyphiconAccordion {
	margin-right:5px;
	font-size: 0.8em;
}

.glyphIconTitle {
  margin-right:8px;
  font-size: 0.95em;
}

.glyphIconOptionsParameters {
  font-size: 1.4em !important;;
}

.glyphIconOptionsDropdown {
  font-size: 0.8em !important;
  margin-left:5px;
}

.glyphIconDialogTitle {
  margin-right:7px;
}

.glyphiconTab {
	font-size: 0.8em;
	vertical-align: text-top;
	color:#449D44;
}

.accordionEl {
	cursor: pointer; 
	cursor: hand;
}

.activeAccordion {
        /*background-color:#337AB7 !important;
        color:white !important;
        */
        color:black !important;
}     
.inactiveAccordion {
		/*
        background-color:#F5F5F5 !important;
        color:black !important;
        */

        color:gray !important;
}

.inactiveAccordion:hover{
		/*
        background-color:#F5F5F5 !important;
        color:black !important;
        */

        color:black !important;
}

.accordionElContent {
  float: right;
  clear: left;
  margin-right:30px;
  display:inline;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px; 
  padding-bottom:3px;
  max-width:150px;
  width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cronExpressionWell {
	display:inline-block;
	margin-left:10px;
	width:325px;
}

.editCronTextBtn {
	display:inline-block;
	height:45px;
	width:45px;
	font-size: 1.85em;
	vertical-align: text-top;
	text-align: center;
	margin-top:-22px;
  margin-right:5px;
	padding:5px;
}

#cronEditField {
  width:380px;
}



.editcron-dialog .modal-dialog {
  width:420px;
}

.settingsContainer {
	width:100%;
	margin-top:25px;
}

.settingsText {
	text-align: left;
	font-size: 14pt;
	font-weight:bold;
	height:35px;

	vertical-align: text-top;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selectedUnitButton {
	width:35px;
	height:35px;
	padding:5px;
	margin-right:7px;
	margin-bottom:7px;
	font-size:11pt;
}

.pre-scrollable {
	min-height: 572px;
    max-height: 572px;
    overflow-y: scroll;
}

.container1 {
	display: flex;
}
.one {
	flex: 0 0 540px;
}
.two {
	flex: 0 0 200px;
  /*margin-left:20px;*/
}

/* For small screen */
.daterow :nth-child(even){
  background-color: #ffffff;
}
.daterow :nth-child(odd){
  background-color: #F5F5F5;
}

.bigUnitButton {
	width:40px;
	height:40px;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
/*
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
*/
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}



.topcoat-range-input::-webkit-slider-thumb {
  border: 1px solid #8A8A8A;
  height: 20px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.topcoat-range-input-active::-webkit-slider-thumb, topcoat-range-input-active::-webkit-slider-thumb:active {
  border: 1px solid #449D44;
  height: 20px;
  width: 35px;
  border-radius: 6px;
  background: #5CB85C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

/* special tabs style */

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 0px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0px;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}