/*
Generic reset.
*/

* {
	padding: 0;
	margin: 0;
}

.test {
	border: 5px red solid;
	padding: 10;
	margin: 10;
	font-family: "Times New Roman";
	font-style: italic;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
	stroke: black;
	stroke-width: 2;
}

.node-diamond{
    stroke: black;
	stroke-width: 2;
}

.mouseover-node-rect {
	stroke: black;
	stroke-width: 4;
}

.mouseover-node-diamond {
	stroke: black;
	stroke-width: 4;
}

.selected-node-rect {
	stroke: red;
	stroke-width: 3;
}

.selected-node-diamond {
	stroke: red;
	stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.mouseover-connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 3;
}

/*
Style for links.
*/

.line {
}

.line-line {
	stroke: gray;
	stroke-width: 4;
	fill: transparent;
}	

.mouseover-line-line {
	stroke: gray;
	stroke-width: 6;
	fill: transparent;
}	

.selected-line-line {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
}	

.line-endpoint {
	fill: gray;
}

.selected-line-endpoint {
	fill: red;
}	

.mouseover-line-endpoint {
	fill: gray;
}

/*
Style for the link being dragged out.
*/

.dragging-line {
	pointer-events: none;
}

.dragging-line-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}	

.dragging-line-endpoint {
	fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
    cursor: move;
}
