@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; font-family:"Microsoft YaHei"; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
time, mark, audio, video{ margin:0; padding:0; border:0; font-size:100%; text-decoration:none; }
html { line-height:1; }
q, blockquote { quotes:none; }
q:before, q:after, blockquote:before, blockquote:after { content:""; content:none; }
a img { border:none; }
ol, ul { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
.ime-disabled{ ime-mode:disabled; } 
.clear{ clear:both; font-size:0px; height:0px; overflow:hidden; }
.line5{ clear:both; font-size:0px; height:5px; overflow:hidden; }
.line10{ clear:both; font-size:0px; height:10px; overflow:hidden; }
.line15{ clear:both ;font-size:0px; height:15px; overflow:hidden; }
.line20{ clear:both; font-size:0px; height:20px; overflow:hidden; }
.line30{ clear:both; font-size:0px; height:30px; overflow:hidden; }
.left{ float:left; }
.right{ float:right; }
.loginbody{ background:#33B5E5; text-align:center; }
.indexbody{ width:100%; height:100%; min-width:780px; overflow-y:hidden; }
.mainbody{ margin:10px 15px; }