@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Transition Property</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div id="divTransitionProperty" style="height:80px;">
            <p>
                <span class="a_tit lang" as="description"></span>
                <span><input type="text" id="txtDescription" class="form-control" style="width:340px;" /></span>
            </p>
            <p>
                <span class="a_tit lang" as="recievertype"></span>
                <select id="ddlReceiverType" class="form-control" style="width:340px;">
                    <option value="default" class="lang" as="optiondefault"></option>
                    <option value="Superior" class="lang" as="superior"></option>
                    <option value="Compeer" class="lang" as="compeer"></option>
                    <option value="Subordinate" class="lang" as="subordinate"></option>
                </select>
            </p>
        </div>
        <div id="divConditions" style="height:80px;">
            <p>
                <span class="a_tit lang" as="conditionexpression"></span>
                <span><textarea id="txtCondition" class="bcxj form-control" style="height:60px;"></textarea></span>
            </p>
        </div>
        <div id="divDefaultBranchOptions" style="display:none;">
            <p>
                <span class="a_tit lang" as="defaultbranch"></span>
                <span>
                    <input type="checkbox" id="chkDefaultBranch" style="width:30px;" />
                    <span class="lang" as="defaultbranchremark"></span>
                </span>
            </p>
        </div>
        <div id="divXOrSplitOptions" style="display:none;">
            <p>
                <span class="a_tit lang" as="priority"></span>
                <span><input type="text" id="txtPriority" class="form-control" style="width:340px;" placeholder="please iput number,-1-the highest priority,0,1,2,3 follow..." /></span>
            </p>
        </div>
        <div id="divApprovalOrSplitOptions" style="display:none;">
            <p>
                <span class="a_tit lang" as="approvaloptions"></span>
                <input type="radio" name="approvalstatus"  id="radAgreed" class="form-control" style="width:80px;margin-top:-5px;float:left;" checked /><span class="a_tit lang" style="margin-left:-80px;margin-right:20px;" as="approvalofagreed"></span>
                <input type="radio" name="approvalstatus"  id="radRefused" class="form-control" style="width:80px;margin-top:-5px;float:left;" /><span class="a_tit lang" style="margin-left:-80px;margin-right:20px;" as="approvalofrefused"></span>
            </p>
        </div>
        <div id="divEOrJoinOptions" style="display:none;">
            <p>
                <span class="a_tit lang" as="mergeoptions"></span>
                <span>
                    <input type="checkbox" id="chkForced" style="width:30px;" />
                    <span class="lang" as="forcedmergebranch"></span>
                </span>
            </p>
        </div>
    </div>
    <div class="modal-footer" style="margin-top:20px;">
        <button class="btn btn-primary lang" as="sure" data-dismiss="modal" onclick="transitionproperty.save();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
    </div>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            transitionproperty.load();
        });
    </script>

</body>
</html>