
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/jshelper.js"></script>
    <script type="text/javascript" src="~/Scripts/localhelper.js"></script>
</head>
<body>
    <div> 
        <input type="text" id="txtAppRunner" style="width:500px;" value="json object"/>
        <input type="button" name="btnSubmit" onclick="onSubmit()" value="submit"/>
    </div>
    <script type="text/javascript">
        function onSubmit() {
            var txtRunner = $("#txtAppRunner").val();
            window.console.log(txtRunner);

            jshelper.ajaxPost('../Test/GoNext',
                txtRunner, function (result) {
                    window.console.log(result);

                    alert(result);
                });
        }
    </script>
</body>
</html>
