/* Styles go here */


.html-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=HTML") no-repeat center;

}
.css-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=CSS") no-repeat center;

}
.js-back{
  background : #eee url("http://placehold.it/400x300/eee/666&text=JS") no-repeat center;
}
