@{
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/ui/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/kgraph/main.css" />
<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/kgraph/app.css" />
<link rel="stylesheet" type="text/css" href="/MvcDemo/Content/kgraph/style.css" />

<title>流程图</title>

<style type="text/css">
    #kgraphContainer {
        padding: 20px;
        width: 100%;
        height: 400px;
        border: 1px solid gray;
    }
</style>

<section id="main-content">
    <section class="panel">
        <div class="row">
            <header class="panel-heading">
                生产订单流程图示
            </header>
            <div>
                <div id="kgraphContainer"></div>
            </div>
        </div>
    </section>
</section>


<script type="text/javascript" src="/MvcDemo/Scripts/jquery-2.0.2.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/jsBezier-0.7.js"></script>
<!-- event adapter -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/mottle-0.6.js"></script>
<!-- geom functions -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/biltong-0.2.js"></script>

<!-- jsplumb util -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/util.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/browser-util.js"></script>
<!-- main jsplumb engine -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/jsPlumb.js"></script>

<!-- base DOM adapter -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/dom-adapter.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/overlay-component.js"></script>
<!-- endpoint -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/endpoint.js"></script>
<!-- connection -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/connection.js"></script>
<!-- anchors -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/anchors.js"></script>
<!-- connectors, endpoint and overlays  -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/defaults.js"></script>

<!-- bezier connectors -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/connectors-bezier.js"></script>
<!-- state machine connectors -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/connectors-statemachine.js"></script>
<!-- flowchart connectors -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/connectors-flowchart.js"></script>
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/connector-editors.js"></script>

<!-- SVG renderer -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/renderers-svg.js"></script>
<!-- vml renderer -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/renderers-vml.js"></script>
<!-- common adapter -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/base-library-adapter.js"></script>


<!-- jquery jsPlumb adapter -->
<script type="text/javascript" src="/MvcDemo/Scripts/jsplumb/jquery.jsPlumb.js"></script>

<script type="text/javascript" src="/MvcDemo/Scripts/jshelper.js"></script>

<!-- jquery kmain files -->
<script type="text/javascript" src="/MvcDemo/AppJS/KGraph/kloader.js"></script>
<script type="text/javascript" src="/MvcDemo/AppJS/KGraph/kgraphview.js"></script>
<script type="text/javascript" src="/MvcDemo/AppJS/KGraph/kmain.js"></script>

<script type="text/javascript">
    jsPlumb.ready(function () {
        var query = {
            processGUID: gProductOrderProcessGUID,
            processVersion: "1"
        };

        //load process xml file
        jshelper.ajaxPost('/SfDemoApi/api/Wf/QueryProcessFile',
            JSON.stringify(query),
                function (result) {
                    if (result.Status == 1) {
                        var processFileEntity = result.Entity;
                        kmain.mgraphView = kloader.initialize(processFileEntity);
                        kmain.mcurrentPackageData = kmain.mgraphView.packageData;
                    } else {
                        alert(result.Message);
                    }
                }
        );
    })
</script>