@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gateway节点编辑</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Gateway节点编辑</h3>
        </div>
        <div class="modal-body">
            <div>
                <p>
                    <span class="a_tit">类型:</span>
                    <select id="ddlGatewayType">
                        <option value="default">--请选择--</option>
                        <option value="Split">分支</option>
                        <option value="Join">合并</option>
                    </select>
                </p>
            </div>
            <div>
                <p>
                    <span class="a_tit">子类型:</span>
                    <select id="ddlDirectionType">
                        <option value="default">--请选择--</option>
                    </select>
                </p>
            </div>
            <div>
                <p>
                    <span class="a_tit">描述:</span>
                    <span><input type="text" id="txtDescription" style="width:340px;" /></span>
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="gatewayproperty.saveGatewayInformation();">确定</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            gatewayproperty.loadGatewayInformation();
        });
    </script>
</body>
</html>